<section class="section">
    <div class="container">

      <div class="row gap-y" style="display: flex; align-items: stretch;">


        <div class="w-100"></div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark mr-5"><img src="../../img/stock/enhanced.svg" alt="img"></div>
            <div class="media-body">
              <h5>Enhanced Collaboration</h5>
              <p>In-sourced teams work closely with your organization, fostering seamless communication, teamwork, and a shared understanding of project objectives.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-primary mr-5"><img src="../../img/stock/greater.svg" alt="img"></div>
            <div class="media-body">
              <h5>Greater Control</h5>
              <p>Maintain direct oversight and control over the development process, decision-making, and resource allocation, ensuring alignment with organizational goals and priorities.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-info mr-5"><img src="../../img/stock/acumulated.svg" alt="img"></div>
            <div class="media-body">
              <h5>Accumulated Domain Knowledge</h5>
              <p>Leverage the accumulated knowledge and expertise of your dedicated in-house team, who are familiar with your organization's unique processes, systems, and requirements.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-warning mr-5"><img src="../../img/stock/fasterres.svg" alt="img"></div>
            <div class="media-body">
              <h5>Faster Response Times</h5>
              <p>Benefit from quicker decision-making, issue resolution, and adaptation to changing project needs, thanks to the close proximity and accessibility of in-sourced teams.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-danger mr-5"><img src="../../img/stock/flexiblere.svg" alt="img"></div>
            <div class="media-body">
              <h5>Flexible Resource Management</h5>
              <p>In-sourced teams enable your organization to quickly scale up or down as needed, without the hassle of HR processes, hiring, or equipment procurement, providing a more agile workforce.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-success mr-5"><img src="../../img/stock/longter.svg" alt="img"></div>
            <div class="media-body">
              <h5>Long-term Investment</h5>
              <p>Develop and retain in-house talent, fostering a team that grows with your organization and provides ongoing support and value over time.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
