<section class="section bg-gray overflow-hidden">
    <div class="container-fluid">
      <div class="row gap-y align-items-center">

        <div class="col-md-4 mx-auto text-center">
          <img class="border shadow-7" src="https://img.sleekcms.com/random.png?w=900&h=431" alt="..." data-aos="fade-right">
        </div>


        <div class="col-md-4 mx-auto">
          <h3>Building Anumo's Microfinance MVP</h3>
          <p>A web-based platform that leverages social references to provide access to capital for small business owners without traditional credit.</p>
          <a href="/case-studies/microfinance-mvp">Read More <i class="ti-angle-right fs-10 ml-1"></i></a>
        </div>

      </div>
    </div>
  </section>


  <section class="section overflow-hidden">
    <div class="container-fluid">
      <div class="row gap-y align-items-center">

        <div class="col-md-4 mx-auto text-center">
          <img class="border shadow-7" src="https://img.sleekcms.com/random2.png?w=900&h=431" alt="..." data-aos="fade-left">
        </div>


        <div class="col-md-4 mx-auto order-md-first">
          <h3>Passport App for Walmart's Back-to-School Event</h3>
          <p>A custom-built responsive app with QR code integration to track attendee participation and enhance user engagement.</p>
          <a href="#">Read More <i class="ti-angle-right fs-10 ml-1"></i></a>
        </div>

      </div>
    </div>
  </section>


  <section class="section bg-gray overflow-hidden">
    <div class="container-fluid">
      <div class="row gap-y align-items-center">

        <div class="col-md-4 mx-auto text-center">
          <img class="border shadow-7" src="https://img.sleekcms.com/random1.png?w=900&h=431" alt="..." data-aos="fade-right">
        </div>


        <div class="col-md-4 mx-auto">
          <h3>Procyon's Cloud PAM Web and Mobile Clients</h3>
          <p>Accelerating the development of user-facing clients for a multi-cloud passwordless privilege access management solution.</p>
          <a href="#">Read More <i class="ti-angle-right fs-10 ml-1"></i></a>
        </div>

      </div>
    </div>
  </section>

  <section class="section overflow-hidden">
    <div class="container-fluid">
      <div class="row gap-y align-items-center">

        <div class="col-md-4 mx-auto text-center">
          <img class="border shadow-7" src="https://img.sleekcms.com/random2.png?w=900&h=431" alt="..." data-aos="fade-left">
        </div>


        <div class="col-md-4 mx-auto order-md-first">
          <h3>Taskivities - Our Multi-tenant Team Visibility SaaS Solution</h3>
          <p>A custom-built responsive app with QR code integration to track attendee participation and enhance user engagement.</p>
          <a href="#">Read More <i class="ti-angle-right fs-10 ml-1"></i></a>
        </div>

      </div>
    </div>
  </section>