<header class="header bg-gray pt-10 pb-01">
    <div class="container text-center">
      <h1 class="display-4">Nearshore teams</h1>
      <p class="lead-2 mt-6">Feature stories are full stack, its simpler when development is as well</p>
    </div>
  </header><!-- /.header -->
