<section class="section">
    <div class="container">

      <div class="row gap-y" style="display: flex; align-items: stretch;">


        <div class="w-100"></div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark mr-5"><img src="../../img/stock/costeffective.svg" alt="img"></div>
            <div class="media-body">
              <h5>Cost-Effective Solution</h5>
              <p>Nearshore teams offer a more affordable option compared to onshore teams, providing access to skilled talent at a reduced cost without sacrificing quality.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-primary mr-5"><img src="../../img/stock/timezone.svg" alt="img"></div>
            <div class="media-body">
              <h5>Time Zone Compatibility</h5>
              <p>Sharing similar or adjacent time zones with your organization, nearshore teams facilitate real-time communication and collaboration, streamlining project management and coordination.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-info mr-5"><img src="../../img/stock/comprehensive.svg" alt="img"></div>
            <div class="media-body">
              <h5>Comprehensive Access to SleekSky Resources</h5>
              <p>Nearshore teams benefit from full integration with the larger SleekSky organization, allowing them to leverage expert guidance, architectural mentorship, and broader team knowledge to enhance project outcomes.


              </p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-warning mr-5"><img src="../../img/stock/Talent.svg" alt="img"></div>
            <div class="media-body">
              <h5>Access to Diverse Talent</h5>
              <p>Tapping into the talent pool of nearshore locations provides access to a diverse range of skills and expertise, contributing to the overall quality and innovation of your project.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-danger mr-5"><img src="../../img/stock/Agile-Development.svg" alt="img"></div>
            <div class="media-body">
              <h5>Agile Development</h5>
              <p>Nearshore teams can easily adapt to agile development methodologies, supporting iterative development and continuous improvement in line with your organization's needs.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-success mr-5"><img src="../../img/stock/scalable.svg" alt="img"></div>
            <div class="media-body">
              <h5>Scalability and Flexibility</h5>
              <p>Nearshore teams offer the ability to quickly scale resources up or down as required, providing your organization with the flexibility to adapt to changing project demands and priorities.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
