<div class="container">
    <div class="section">
        <div class="container">
            <div class="align-items-center">
              <div >
                <h1 class="header-p">
                    About
                </h1>
                <div class="row col-6 col-lg-10">
                    <div class="col-6 col-lg-5">
                        <p>El Proyecto es liderado por Daniel Pliego (ex-Felipe el Hombre),
                             donde colabora con distintos artistas explorando las fronteras entre 
                             la  música electrónica y la análoga; resultando en un live-act hipnotico que 
                             pondrá a todos a bailar.
                        </p>
                        <p>Plural busca ser un colectivo modular donde cada persona aporta su 
                            escencia y brinda algo nuevo a cada canción o show en vivo, sin casarse 
                            con un genero o tendencia, sino más con la idea de viajar hacia adentro para 
                            luego invitarte a conectar con los demás y con lo etereo. </p>
                        <p>22/11/22</p>
                    </div>
                    <div class="col-6 col-lg-5">
                        <p>
                            <img alt="about" src="../img/about/about.jpg" />
                        </p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>