<div class="cursos">
    <div class="section section-purple">
      <div class="container">
        <h1 class="text-center text-primary">
          Aprende lo básico sobre el SAT.
        </h1>
        <p class="text-light text-center mb-5">
          Elige el formato que más se adapte a tus necesidades
        </p>
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="row no-gutters">
              <div class="col-lg-6 mb-3">
                <div class="course-card rounded" href="/curso-basico-lhs">
                  <img src="../img/cursos/curso-thumbnail-video.jpg" class="img-fluid" />
                  <div class="course-content">
                    <div class="d-flex mb-2">
                      <div class="label label-primary me-2">
                        CURSO EN VIDEO
                      </div>
                      <div class="label label-primary">$349 MXN</div>
                    </div>
                    <h4 class="mb-1 text-secondary">
                      Curso Básico en Video
                    </h4>
                    <p class="font-sm text-secondary-l">
                      Aprende cómo incorporarte ante el SAT, primeros pasos
                      para la vida fiscal y super tips para llevar tu
                      contabilidad.
                    </p>
                  </div>
                  <div class="p-3">
                    <a class="btn btn-secondary btn-block">
                      Ver detalles →
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div class="course-card rounded course-card-green" href="/curso-facturacion-lhs">
                  <img src="../img/cursos/curso-thumbnail-taller.jpg" class="img-fluid" />
                  <div class="course-content">
                    <div class="d-flex mb-2">
                      <div class="label me-2">CURSO EN VIDEO</div>
                      <div class="label me-2">$549 MXN</div>
                    </div>
                    <h4 class="mb-1 text-secondary">
                      Aprende a facturar en la versión 4.0
                    </h4>
                    <p class="font-sm text-secondary-l mb-0">
                      Te enseñamos cómo navegar y emitir facturas desde la nueva versión 4.0 del portal del SAT
                    </p>
                  </div>
                  <div class="p-3">
                    <a class="btn btn-secondary btn-block">
                      Ver detalles →
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>