<div class="section section-green">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-lg-5 p-lg-r">
          <img src="../img/gallery/acento-morado.svg" class="mb-3 d-block" />
          <h2 class="mb-3">¿Tu situación fiscal no te deja dormir?</h2>
          <p>
            No te preocupes, aquí te damos apoyo práctico en las funciones más
            comunes del portal en una asesoría 1-1 en videollamada con uno de
            nuestros expertos.
          </p>
          <div class="d-flex flex-column flex-md-row">
            <a
              class="btn btn-light btn-primary-outlined btn-lg mb-3 me-3 full-width"
              href="https://lahorasat.podia.com/asesoria-practica"
              data-podia-embed="link"
            >
              Agendar asesoria
            </a>
          </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block ml-4">
          <div>
            <img src="../img/cursos/asesoria-practica-2.jpg" class="img-fluid image-stroke-purple" />
          </div>
        </div>
      </div>
    </div>
  </div>