<div class="section section-green">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-lg-5 p-lg-r">
          <img src="../img/gallery/acento-morado.svg" class="mb-3 d-block" />
          <h2 class="mb-3">
            ¿Tu cliente te pidió factura y no sabes como empezar?
          </h2>
          <p>
            No te preocupes, nosotros te ayudamos pasito a pasito a entender
            todo el mundo del SAT en una asesoría 1-1 en videollamada con uno
            de nuestros expertos.
          </p>
          <div class="d-flex flex-column flex-md-row">
            <a
              class="btn btn-light btn-primary-outlined btn-lg mb-3 me-3 full-width"
              href="https://lahorasat.podia.com/asesoria-basica"
              data-podia-embed="link"
            >
              Agendar asesoria
            </a>
          </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
          <div class="margin-le">
            <img src="../img/cursos/asesoria.jpg" class="img-fluid image-stroke-purple" />
          </div>
        </div>
      </div>
    </div>
</div>
<div class="section section-white">
 <h2 class="text-center">Domina al SATanás desde el primer día</h2>
</div>
<div class="section section-purple text-center">
    <div class="container">
        <h2 class="mb-5">
            Te ayudamos paso a paso a ...
        </h2>
        <div class="boxed-bullet-container row mb-5 justify-content-center">
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Conocer tu situación fiscal
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Elegir el mejor regimen para ti
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Encontrar los documentos mas importantes en el portal
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Hacer un plan para tener una mejor relación con el SAT
                </div>
            </div>
        </div>
    </div>
</div>