<div class="asesorias">
    <div class="section section-green">
      <div class="container">
        <h3 class="text-center text-secondary">
          "¿Necesitas asesoría personalizada? "
        </h3>
        <p class="text-secondary text-center mb-5">
          Tenemos dos modelos, si tienes dudas de cuál elegir, <a href='https://wa.me/' + whatsappNumber class="text-secondary text-underline">mándanos un Whatsapp</a>.
        </p>
        <div class="row no-gutters">
          <div class="col-lg-4 mb-3">
            <div class="course-card rounded">
              <a class="" href="/asesoria-basica">
                <img src="../img/cursos/asesoria.jpg" class="img-fluid" />
                <div class="course-content">
                  <div class="d-flex mb-2">
                    <div class="label label-primary me-2">
                      1 HORA
                    </div>
                    <div class="label label-primary me-2">
                      VIA ZOOM
                    </div>
                    <div class="label label-primary">$699 MXN</div>
                  </div>
                  <h2 class="mb-1 text-secondary">
                    Asesoría básica
                  </h2>
                  <p class="text-secondary-l">
                    Una guía paso a pasito para entrarle al mundo del SAT sin morir en el intento. 
                  </p>
                </div>
                <div class="p-3">
                  <a class="btn btn-secondary btn-lg btn-block">Ver detalles →</a>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div
              class="course-card rounded">
              <a class="" href="/asesoria-practica">
                <img src="../img/cursos/asesoria-practica-2.jpg" class="img-fluid" />
                <div class="course-content">
                  <div class="d-flex mb-2">
                    <div class="label label-primary me-2">
                      80 MIN
                    </div>
                    <div class="label label-primary me-2">
                      VIA ZOOM
                    </div>
                    <div class="label label-primary">$1099 MXN</div>
                  </div>
                  <h2 class="mb-1 text-secondary">
                    Asesoría práctica <span class="font-lg d-block">(para personas fisicas)</span>
                  </h2>
                  <p class="font-sm text-secondary-l">
                    Te ayudamos de forma práctica en las operaciones más comunes del portal y resolvemos las dudas que no te dejan dormir. 
                  </p>
                </div>
                <div class="p-3">
                  <a class="btn btn-secondary btn-lg btn-block">Ver detalles →</a>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div
              class="course-card rounded">
              <a class="" href="/asesoria-declaracion">
                <img src="../img/cursos/curso-en-video/foto-home.jpg" class="img-fluid" />
                <div class="course-content">
                  <div class="d-flex mb-2">
                    <div class="label label-primary me-2">
                      80 MIN
                    </div>
                    <div class="label label-primary me-2">
                      VIA ZOOM
                    </div>
                    <div class="label label-primary">$1199 MXN</div>
                  </div>
                  <h2 class="mb-1 text-secondary">
                    Asesoría para Declaración Anual
                  </h2>
                  <p class="font-sm text-secondary-l">
                    Te ayudamos a presentar tu declaración anual desde tu computadora
                  </p>
                </div>
                <div class="p-3">
                  <a class="btn btn-secondary btn-lg btn-block">Ver detalles →</a>
                </div>
              </a>
            </div>
          </div>
          <!--<p class="mt-3 text-center">También puedes <a href="/regala-asesoria" class="text-underline">regalarle una asesoria a un amigo :</a>-->
        </div>
      </div>
    </div>
  </div>