<div class="section section-green">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-lg-5 p-lg-r">
          <img src="../img/gallery/acento-morado.svg" class="mb-3 d-block" />
          <h2 class="mb-3">¿Aún no haces tu declaración anual?</h2>
          <p>
            Nosotras te explicamos cómo hacerla y te enseñamos a presentarla paso a paso desde la comodidad de tu hogar. 
          </p>
          <div class="d-flex flex-column flex-md-row">
            <a
              class="btn btn-light btn-primary-outlined btn-lg mb-3 me-3 full-width"
              href="https://lahorasat.podia.com/asesoria-declaracion"
              data-podia-embed="link"
            >
              Agendar asesoría
            </a>
          </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block ml-4">
            <img src="../img/cursos/asesoria-practica-2.jpg" class="img-fluid image-stroke-purple" />
          </div>
        </div>
      </div>
    </div>
  </div>