<div class="container mt-5 mb-5">
    <h1 class="text-center">AVISO DE PRIVACIDAD</h1>
    <h4 class="text-center">Información Relevante</h4>
    <p>Miranda Jannel García Barragán, mejor conocido como La Hora SAT ®, con domicilio en calle Priv. Mexcalli #873,
        colonia Villa Izcalli, ciudad Villa de Álvarez, municipio o delegación Villa de Álvarez, c.p. 28979, en la
        entidad de Colima, país México, y portal de internet www.lahorasat.com, es el responsable del uso y protección
        de sus datos personales, y al respecto le informamos lo siguiente</p>
    <h6>¿Para qué fines utilizaremos sus datos personales?</h6>
    <p>Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias
        para el servicio que solicita:</p>
    <ul>
        <li>Programación de reuniones virtuales de manera eficiente</li>
        <li>Registro en el sistema y acceder a los productos adquiridos.</li>
        <li>Confirmación de diferencia horaria para la programación de reuniones virtuales.</li>
    </ul>
    <p>De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que <b>no
            son necesarias</b> para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor
        atención:</p>
    <ul>
        <li>Proveer servicios y productos requeridos.</li>
        <li>Informar sobre cambios de nuestros productos o servicios </li>
        <li>Evaluar la calidad del servicio</li>
        <li>Informar sobre nuevos productos o servicios</li>
        <li>Mercadotecnia o publicitaria</li>
        <li>Prospección comercial</li>
    </ul>
    <p>En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a
        continuación: No consiento que mis datos personales se utilicen para los siguientes fines:</p>
    <p>En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a
        continuación: No consiento que mis datos personales se utilicen para los siguientes fines:</p>
    <ul>
        <li>Proveer servicios y productos requeridos.</li>
        <li>Informar sobre cambios de nuestros productos o servicios</li>
        <li>Evaluar la calidad del servicio</li>
        <li>Informar sobre nuevos productos o servicios</li>
        <li>Mercadotecnia o publicitaria</li>
        <li>Prospección comercial</li>
    </ul>
    <p>La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le
        neguemos los servicios y productos que solicita o contrata con nosotros.</p>
    <h6 class="mt-4">¿Qué datos personales utilizaremos para estos fines?</h6>
    <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes
        datos personales: </p>
    <ul>
        <li>Nombre.</li>
        <li>Correo electrónico.</li>
        <li>Edad.</li>
        <li>Estado de residencia.</li>
        <li>Usuario de Instagram.</li>
    </ul>
    <h4>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?</h4>
    <p>Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones
        del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en
        caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros
        registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación);
        así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen
        como derechos ARCO. </p>
    <p>Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del
        siguiente medio: </p><a href="mailto:lahorasat@gmail.com">lahorasat@gmail.com</a>
    <p>Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición el
        siguiente medio:</p><a href="mailto:lahorasat@gmail.com">lahorasat@gmail.com</a>
    <p>Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las
        solicitudes de derechos ARCO, son los siguientes:</p>
    <p>a) Nombre de la persona o departamento de datos personales: Miranda Jannel García Barragán</p>
    <p>b) Domicilio: calle Priv. Mexcalli #873, colonia Villa Izcalli, ciudad Villa de Álvarez, municipio o delegación
        Villa de Álvarez, c.p. 28979, en la entidad de Colima, país México. </p>
    <h6 class="mt-4">Usted puede revocar su consentimiento para el uso de sus datos personales</h6>
    <p>Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos
        personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su
        solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos
        seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de
        su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de
        su relación con nosotros.</p>
    <p>Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio: </p><a
        href="mailto:lahorasat@gmail.com">lahorasat@gmail.com</a>
    <p>Para conocer el procedimiento y requisitos para la revocación del consentimiento, ponemos a su disposición el
        siguiente medio:</p><a href="mailto:lahorasat@gmail.com">lahorasat@gmail.com</a>
    <h6 class="mt-4">¿Cómo puede limitar el uso o divulgación de su información personal?</h6>
    <p>Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los
        siguientes medios: </p><a href="mailto:lahorasat@gmail.com">lahorasat@gmail.com</a>
    <h6 class="mt-4">El uso de tecnologías de rastreo en nuestro portal de internet</h6>
    <p>Le informamos que en nuestra página de internet utilizamos cookies, web beacons u otras tecnologías, a través de
        las cuales es posible monitorear su comportamiento como usuario de internet, así como brindarle un mejor
        servicio y experiencia al navegar en nuestra página. Los datos personales que recabamos a través de estas
        tecnologías, los utilizaremos para los siguientes fines:</p>
    <p>Para brindarle un mejor servicio y experiencia de usuario al navegar en nuestra página. Los datos personales que
        obtenemos de estas tecnologías de rastreo son los siguientes:</p>
    <ul>
        <li>Identificadores, nombre de usuario y contraseñas de una sesión Idioma preferido por el usuario</li>
        <li>Región en la que se encuentra el usuario</li>
        <li>Fecha y hora del inicio y final de una sesión de un usuario Páginas web visitadas por un usuario </li>
        <li>Búsquedas realizadas por un usuario </li>
    </ul>
    <p>Para conocer la forma en que se pueden deshabilitar estas tecnologías, consulte el siguiente medio: </p><a
        href="mailto:lahorasat@gmail.com">lahorasat@gmail.com</a>
    <h6 class="mt-4">¿Cómo puede conocer los cambios en este aviso de privacidad?</h6>
    <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos
        requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras
        prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.</p>
    <p>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a
        través de: www.lahorasat.com.</p>
    <p>El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al
        presente aviso de privacidad es el siguiente:</p>
    <p>A través de: www.lahorasat.com</p>
    <h6 class="mt-4">Su consentimiento para el tratamiento de sus datos personales</h6>
    <p>Consiento que mis datos personales sean tratados de conformidad con los términos y condiciones informados en el
        presente aviso de privacidad.</p>
    <p>Última actualización: 26/01/2022 </p>
</div>