<div class="container">
    <div class="section">
      <h3 class="mb-5 text-center">
        Aprende más sobre el Sat en nuestro blog
      </h3>
      <div class="row justify-content-center">
            <Link
              to={post.fields.slug}
              class="col-lg-4 mb-4"
              key={post.id}
            >
              <!--<article
                class={`course-card ${
                  post.frontmatter.featuredpost ? "is-featured" : ""
                }`}
              >
                {post.frontmatter.featuredimage ? (
                  <div class="featured-thumbnail">
                    <PreviewCompatibleImage
                      imageInfo={{
                        image: post.frontmatter.featuredimage,
                        alt: `featured image thumbnail for post ${post.frontmatter.title}`,
                      }}
                    />
                  </div>
                ) : null}
                <div class="p-3 featured-content d-flex flex-column flex-1">
                  {post.frontmatter.tags && (
                    <>
                      <div class="d-flex">
                        {post.frontmatter.tags.map((tag) => (
                          <div
                            class="label label-primary label-sm"
                            style={{ marginRight: "0.33rem" }}
                            key={tag + `tag`}
                          >
                            <Link to={`/tags/${kebabCase(tag)}/`}>
                              {tag}
                            </Link>
                          </div>
                        ))}
                      </div>
                    </>
                  )}
                  <h6 class="mt-2">{post.frontmatter.title}</h6>
                  <p class="font-xs flex-1 mb-0">
                    {post.frontmatter.description}
                  </p>
                  <Link
                    class="btn btn-secondary d-block mt-3"
                    to={post.fields.slug}
                  >
                    Seguir leyendo →
                  </Link>
                </div>
                <p></p>
              </article>
            </Link>
          ))} -->
      </div>
      <div class="text-center">
        <a href="/blog/" class="btn btn-primary d-inline-block">
          Ver todas las entradas del blog...
        </a>
      </div>
    </div>
  </div>