<div class="section section-purple text-center">
    <div class="container">
        <h2 class="mb-5">Termina la agonia y ¡domina al SATanás! 
            te ayudamos paso a paso a ....
        </h2>
        <div class="boxed-bullet-container row mb-5 justify-content-center">
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Como facturar
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Hacer tus declaraciones
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Ver tus devoluciones de ISR
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Actualizar tus datos fiscales
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Resolver problemas de adeudos o multas
                </div>
            </div>
        </div>
    </div>
</div>