<div class="section section-purple text-center">
    <div class="container">
        <h2 class="mb-5">
            Evita que el SAT te multe por no hacer tu declaración.
        </h2>
        <div class="boxed-bullet-container row mb-5 justify-content-center">
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Resolvemos todas tus dudas
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Ingresamos tu solicitud para recuperar el ISR a favor (según sea el caso)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Te enseñamos cómo lidiar con el SAT de forma sencilla
                </div>
            </div>
            <div class="col-lg-6">
                <div class="boxed-bullet mb-3 text-secondary">
                    Aprendes cómo hacer la declaración para el próximo año
                </div>
            </div>
        </div>
    </div>
</div>