<div class="section section-off-purple">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 px-4 px-lg-5">
          <img
            src="../../img/cursos/curso-en-video/foto-paquete.jpg"
            class="image-stroke-purple img-fluid mb-5"
          />
        </div>
        <div class="col-lg-6">
          <div class="px-lg-3">
            <div class="boxed-bullet font-xxs text-uppercase d-inline-block mb-4">
              Sesión en zoom de 80 minutos. 
            </div>
            <h2>Asesoría para Declaración Anual</h2>
            <p>
              Precio:
                <span class="d-inline-block ml-2 mr-2 text-decoration-line-through opacity-50">
                  $499
                </span>
              <span class="font-xl">$1199</span>
            </p>
            <p class="font-xs">
              * Pagas en línea de manera 100% y recibes acceso al calendario
              para agendar la fecha y hora que gustes.
            </p>
            <div class="d-flex flex-column flex-md-row">
              <a
                class="btn btn-primary btn-lg mb-3 me-3 full-width"
                href="https://lahorasat.podia.com/asesoria-declaracion"
                data-podia-embed="link"
              >
                Agendar Asesoría
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>