<div class="section section-off-purple">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 px-4 px-lg-5">
          <img
            src="../../img/cursos/curso-en-video/foto-paquete.jpg"
            class="image-stroke-purple img-fluid mb-5"
          />
        </div>
        <div class="col-lg-6">
          <div class="px-lg-3">
            <div class="boxed-bullet font-xxs text-uppercase d-inline-block mb-4">
              Sesión en Zoom de 1 hora
            </div>
            <h3>Asesoría básica</h3>
            <p>
              Costo:
              <span class="d-inline-block ml-2 mr-2 text-decoration-line-through opacity-50">
                  $499
                </span>
              <span class="font-xl">$699</span>
            </p>
            <p class="font-xs">
              * Pagas en línea de manera 100% y recibes acceso al calendario
              para agendar la fecha y hora que gustes.
            </p>
            <div class="d-flex flex-column flex-md-row">
              <a
                class="btn btn-primary btn-lg mb-3 me-3 full-width"
                href="https://lahorasat.podia.com/asesoria-basica"
                data-podia-embed="link"
              >
                Agendar asesoria
              </a>
            </div>
            <p class="font-xxs mt-3">
              Necesitas asesoría con el portal del SAT?
              <a href="/asesoria-practica" class="text-underline">
                Agenda una asesoría practica →
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="section section-green d-flex justify-content-center text-center">
    <img src="../img/gallery/acento-blanco.svg" width="50" class="mx-auto" />
    <h1>Inicia tu vida fiscal con el pie derecho</h1>
    <img src="../img/gallery/acento-blanco.svg" width="50" class="mx-auto" />
  </div>