<div class="section section-white">
    <div class="container">
      <h4 class="text-center mb-4">
        Algunas de nuestras colaboraciones
      </h4>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://www.instagram.com/p/CRCJvuLDV0y/?utm_medium=copy_link"
            target="_blank"
          >
            <img src="../img/colabs/fintual.png" />
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://www.instagram.com/p/CSW2qRDHSqQ/?utm_medium=copy_link"
            target="_blank"
          >
            <img src="../img/colabs/telokwento.png" />
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://www.instagram.com/tv/CVTceIVFZRR/"
            target="_blank"
          >
            <img src="../img/colabs/fondeadora.png" />
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://open.spotify.com/episode/70ZP4KlU9QO21hQjsTv8aH?si=FSCQzSL1S--4WI3Jyo2oQg"
            target="_blank"
          >
            <img src="../img/colabs/ninas.png" />
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://open.spotify.com/episode/2lfcJeDXPgohY33yk451d2?si=jRFiesTDQMe_YkE_5tLdYg&dl_branch=1&nd=1"
            target="_blank"
          >
            <img src="../img/colabs/tipo-y-asi.png" />
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://www.instagram.com/tv/CMlcDr_DKtU/?utm_medium=copy_link"
            target="_blank"
          >
            <img src="../img/colabs/animal.png" />
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://www.instagram.com/p/CLfw4fQDoMf/?utm_medium=copy_link"
            target="_blank"
          >
            <img src="../img/colabs/mujeres.png" />
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://www.instagram.com/tv/CQzuToHlo2b/?utm_medium=copy_link"
            target="_blank"
          >
            <img src="../img/colabs/legalmente-creativo.png" />
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://www.chicmagazine.com.mx/magazines#details?ref=supp&date=2020-11-12&ratio=magazine&ratiow=737&ratioh=935&edition=2&id=202&sup=Chic%20Magazine"
            target="_blank"
          >
            <img src="../img/colabs/chic.png" />
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a
            class="p-2 p-lg-4 d-block"
            href="https://www.adn40.mx/finanzas/sat-instagram-facil-deps-especial"
            target="_blank"
          >
            <img src="../img/colabs/adn.png" />
          </a>
        </div>
      </div>
    </div>
  </div>