<div class="section section-purple">
    <div class="container">
      <div class="d-lg-none mb-4">
        <iframe
          width="100%"
          height="300px"
          src="https://www.youtube.com/embed/BxjK_NGBq0o"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-lg-5 p-lg-r">
          <img src="../img/gallery/acento-verde.svg" class="mb-3 d-none d-lg-block" />
          <h5 class="label label-primary">Curso</h5>
          <h2 class="mb-3 text-light">
            Cómo darte de alta en el SAT y pagar tus impuestos, tú mismo.
          </h2>
          <h5 class="text-primary">Un curso para NO contadores</h5>
          <p class="text-light">
            Todo lo esencial que necesitas saber para sobrevivir al SAT.
          </p>

          <div class="d-flex align-items-center mb-4">
            <h4 marginRight="6px" >
              <s>de $800</s>
            </h4>
            <h2 class="text-primary"> a sólo $349</h2>
          </div>
          <div class="d-flex flex-column flex-md-row">
            <a
              class="btn btn-primary btn-lg mb-3 me-3"
              width="100%"
              href="https://lahorasat.podia.com/curso-en-video"
              data-podia-embed="link"
            >
              Comprar curso
            </a>
          </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
          <iframe
            width="100%"
            height="400px"
            src="https://www.youtube.com/embed/BxjK_NGBq0o"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="curso-video-iframe"
          ></iframe>
        </div>
      </div>
    </div>
</div>
<div class="section section-green text-center">
    <div class="container">
      <h3>
        ¿Sabías que el SAT puede multarte por hasta $35,000 pesos por no
        cumplir con tus obligaciones fiscales?
      </h3>
    </div>
</div>