<div class="section section-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 px-4 px-lg-5">
          <img
            src="../img/cursos/curso-en-video/foto-paquete.jpg"
            class="image-stroke-purple img-fluid mb-5"
          />
        </div>
        <div class="col-lg-6">
          <div class="px-lg-3">
            <div class="boxed-bullet font-xxs text-uppercase d-inline-block mb-4">
              Curso en video (grabación de zoom)
            </div>
            <h3>Curso para aprender a facturar en el portal del SAT en la versión 4.0</h3>

            <p>
              <span class="font-lg">¡Acceso de por vida! Lo puedes ver las veces que quieras.</span>
            </p>
            <p>
              Costo:
                <span class="d-inline-block ml-2 mr-2 text-decoration-line-through opacity-50">
                  $499
                </span>
              <span class="font-xl">$549</span>
            </p>
            <b class="text-uppercase mb-1 font-xxs">Este curso incluye:</b>
            <ul class="font-xs">
              <li>2 horas y media de curso</li>
              <li>2 materiales extra de apoyo</li>
              <li>Acceso ilimitado</li>
            </ul>
            <p class="font-xxs">
              * Pagas en línea de manera 100% segura o contáctanos por Whatsapp y te ayudamos
            </p>
            <div class="d-flex flex-column flex-md-row">
              <a
                class="btn btn-secondary btn-lg mb-3 me-3 full-width"
                href={url}
                data-podia-embed="link"
              >
                Comprar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>