<div class="section section-purple">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="featured-thumbnail">
                    <div class=" gatsby-image-wrapper" style="position:relative;overflow:hidden;border-radius:5px">
                        <div aria-hidden="true" style="width:100%;padding-bottom:66.8%"></div><img aria-hidden="true"
                            src="../img/gallery/b-dedu.png"
                            alt="featured image thumbnail for post Tipos de deducciones"
                            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 0; transition-delay: 500ms;">
                        <picture>
                            <source srcset="../img/gallery/b-dedu.png" sizes="(max-width: 1000px) 100vw, 1000px"><img
                                sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/b-dedu.png"
                                src="../img/gallery/b-dedu.png"
                                alt="featured image thumbnail for post Tipos de deducciones" loading="lazy"
                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: opacity 500ms ease 0s;">
                        </picture><noscript>
                            <picture>
                                <source srcset="../img/gallery/b-dedu.png" sizes="(max-width: 1000px) 100vw, 1000px" /><img
                                    loading="lazy" sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/b-dedu.png"
                                    src="../img/gallery/b-dedu.png"
                                    alt="featured image thumbnail for post Tipos de deducciones"
                                    style="position:absolute;top:0;left:0;opacity:1;width:100%;height:100%;object-fit:cover;object-position:center" />
                            </picture>
                        </noscript>
                    </div>
                </div>
                <h1 class="text-primary mt-5">Tipos de deducciones</h1>
                <p class="text-light font-lg">Deducir es la manera en la que puedes "recuperar" lo que pagaste de
                    impuestos. Aquí entenderás todo lo que necesitas para poder utilizarlo a tu favor.</p>
            </div>
        </div>
    </div>
</div>
<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <p>Al recibir ingresos y estar bajo un régimen fiscal, <strong>se está obligado a pagar
                            impuestos</strong>. Para poder calcular estos impuestos, ya seas persona física o moral, se
                        consideran los ingresos que recibos y los gastos que haces, <strong>las famosas
                            deducciones</strong>.</p>
                    <p>Las deducciones son los gastos que haces y que cumplen con los requisitos de ley (como tener una
                        factura que los ampare) para así poder aplicarlo contra los ingresos y por ende, poder pagar
                        menos impuestos.</p>
                    <p>Pero existen dos tipos de deducciones muy diferentes: Las autorizadas y las personales.</p>
                    <p><strong>¿Qué son las deducciones autorizadas?</strong></p>
                    <p>Son un gasto que puedes deducir porque es indispensable para realizar tu trabajo.</p>
                    <p>Si eres diseñador/a algunos ejemplos serían: Luz, internet, computadora.</p>
                    <p>Si eres arquitect/x algunos ejemplos serían: Computadora, programas de modelado 3D, impresoras,
                        plotter, etc.</p>
                    <p><strong>¿Cómo se aplican?</strong></p>
                    <p>Existen periodos para aplicar las deducciones a tus ingresos dependiendo el régimen en el que
                        estés registradx.</p>
                    <p>Pueden ser desde:</p>
                    <p><em>RIF - Bimestre.</em></p>
                    <p><em>Persona Física - Cada mes.</em></p>
                    <p><em>Persona Moral - Cada mes.</em></p>
                    <p>Esta información la sabrás en el momento en que te des de alta, pues se emite en tu Constancia de
                        Situación Fiscal.</p>
                    <p><strong>Excepciones.</strong></p>
                    <p>Casos donde NO aplican las deducciones autorizadas:</p>
                    <ol>
                        <li>Si recibes ingresos únicamente por plataformas electrónicas como Amazon, Uber, MercaLibre,
                            etc.</li>
                        <li>Si eres asalariado.</li>
                    </ol>
                    <p><strong>¿Cuáles son las deducciones personales?</strong></p>
                    <p>Estas a diferencia de las anteriores, son iguales para todxs.</p>
                    <p>Aquí les dejamos la lista:</p>
                    <ul>
                        <li>Pagos por honorarios médicos: dentistas, psicólogxs, nutrióloxs, etc.</li>
                        <li>Pagos por servicios de enfermería: análisis, estudios clínicos, prótesis, gastos
                            hospitalarios.</li>
                        <li>Aparatos para la recuperación del paciente: Lentes, muestras, estudios de sangre, etc.*NO
                            entran medicinas de farmacias.</li>
                        <li>Colegiaturas: tuyas, las de tu cónyuge, papás y/o las de tus hijxs.</li>
                        <li>Gastos funerarios.</li>
                        <li>Intereses por créditos hipotecarios.</li>
                        <li>Donativos realizados únicamente a instituciones autorizadas.</li>
                        <li>Aportaciones complementarias a la subcuenta de tu AFORE.</li>
                        <li>Primas por seguros de gastos médicos.</li>
                    </ul>
                    <p>Cada concepto de los anteriores debe cumplir con ciertos requisitos y algunos tienen límites en
                        cantidades.</p>
                    <p><strong>¿Cómo se aplican?</strong></p>
                    <p>Se presentan en la declaración anual y lo aplican personas físicas con cualquier tipo de
                        actividad económica, incluyendo lxs asalariadxs.</p>
                    <p><strong>Excepciones.</strong></p>
                    <ol>
                        <li>Los RIF.</li>
                        <li>Las Personas Morales.</li>
                        <li>Próximamente los RESICO.</li>
                    </ol>
                    <p><em>Si es tu primera vez presentando estas deducciones te recomendamos asesorarte con tu
                            contador/a para saber cómo aplicarlas de manera correcta.</em></p>
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right:0.33rem"><a
                            href="/tags/deducciones/">#deducciones</a></div>
                </div>
            </div>
        </div>
    </div>
</div>