<div class="section section-white text-center">
    <div class="container">
      <h2 class="mb-3">Dirigido a:</h2>
      <div class="row mt-3">
        <div class="col-lg-4 mb-3">
          <div class="card h-100">
            <h5>Nuevos contribuyentes</h5>
            <p class="font-xs mb-3">
              Lxs que quieren (o tienen) que darse de alta.
            </p>
            <img src="../img/cursos/curso-en-video/dirigido-millenials.svg" width="100" class="mx-auto" />
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100">
            <h5>Recien incorporados</h5>
            <p class="font-xs mb-3">
              Recién incorporadxs al SAT que no entienden nada al
              respecto.
            </p>
            <img src="../img/cursos/curso-en-video/dirigido-publico.svg" width="100" class="mx-auto" />
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100">
            <h5>Freelancers y emprendedores</h5>
            <p class="font-xs mb-3">
              Que tienen que dar factura a sus clientes y quieren saber
              cómo hacerlo y usar esto a su favor para tener un futuro
              tranquilo
            </p>
            <img src="../img/cursos/curso-en-video/dirigido-freelancers.svg" width="100" class="mx-auto" />
          </div>
        </div>
      </div>
    </div>
</div>
<div class="section-off-purple p-3">
    <h4 class="my-3 text-center">¿Qué aprenderé aquí?</h4>
</div>