<div class="section section-white text-center">
    <div class="container">
        <h2 class="mb-3">
            Dirigido a:
        </h2>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-4 mb-3">
                <div class="card h-100">
                    <h5>
                        Personas fisicas
                    </h5>
                    <p class="font-xs mb-3">
                        Incorporados al SAT con dudas de como manejar sus declaraciones y procesos
                    </p>
                    <img src="../img/cursos/curso-en-video/dirigido-millenials.svg" width="100" class="mx-auto">
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card h-100">
                    <h5>
                        Personas con pendientes ante el SAT
                    </h5>
                    <p class="font-xs mb-3">
                        Arregla tu multa, problema y reorganiza tu situacion
                    </p>
                    <img src="../img/cursos/curso-en-video/dirigido-publico.svg" width="100" class="mx-auto">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-off-purple p-3">
    <h4 class="my-3 text-center">¿Qué aprenderé aquí?</h4>
</div>