<div class="section section-white text-center">
    <div class="container">
      <h2 class="mb-3">Dirigido a:</h2>
      <div class="row mt-3 justify-content-center">
        <div class="col-lg-4 mb-3">
          <div class="card h-100">
            <h5>Asalariadxs</h5>
            <p class="font-xs mb-3">
              Que quieren obtener su ISR a favor.
            </p>
            <img src="../img/cursos/curso-en-video/dirigido-millenials.svg" width="100" class="mx-auto" />
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100">
            <h5>Freelancers</h5>
            <p class="font-xs mb-3">
              Que quieren aprender a hacer su declaración anual.
            </p>
            <img src="../img/cursos/curso-en-video/dirigido-publico.svg" width="100" class="mx-auto" />
          </div>
        </div>
      </div>
    </div>
</div>
<div class="section-off-purple p-3">
    <h4 class="my-3 text-center">Requisitos</h4>
</div>