<div class="section section-purple">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="featured-thumbnail">
                    <div class=" gatsby-image-wrapper" style="position:relative;overflow:hidden;border-radius:5px">
                        <div aria-hidden="true" style="width:100%;padding-bottom:66.8%"></div><img aria-hidden="true"
                            src="../img/gallery/b-nopagar.png"
                            alt="featured image thumbnail for post ¿Se puede evadir al SAT?"
                            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 0; transition-delay: 500ms;">
                        <picture>
                            <source srcset="../img/gallery/b-nopagar.png" sizes="(max-width: 1000px) 100vw, 1000px"><img
                                sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/b-nopagar.png" 
                                src="../img/gallery/b-nopagar.png" 
                                alt="featured image thumbnail for post ¿Se puede evadir al SAT?" loading="lazy"
                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: opacity 500ms ease 0s;">
                        </picture><noscript>
                            <picture>
                                <source srcset="../img/gallery/b-nopagar.png"  sizes="(max-width: 1000px) 100vw, 1000px" />
                                <img loading="lazy" sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/b-nopagar.png" 
                                    src="../img/gallery/b-nopagar.png" 
                                    alt="featured image thumbnail for post ¿Se puede evadir al SAT?"
                                    style="position:absolute;top:0;left:0;opacity:1;width:100%;height:100%;object-fit:cover;object-position:center" />
                            </picture>
                        </noscript>
                    </div>
                </div>
                <h1 class="text-primary mt-5">¿Se puede evadir al SAT?</h1>
                <p class="text-light font-lg">Esta es una de las preguntas más frecuentes en las asesorías y cursos, así
                    que aquí resolveremos esta duda para quitarnos la idea de que podemos evadir al SAT.</p>
            </div>
        </div>
    </div>
</div>
<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <p>Quizá pienses que puedes ir por la vida <strong>sin cumplir</strong> con tus obligaciones
                        fiscales.</p>
                    <p>Pero debes saber que <strong>el SAT puede tener acceso a TODA tu información y
                            transacciones</strong>. Por lo que es probable que si no cumples con tus obligaciones, te
                        busquen y lleguen a auditarte por 5 o hasta 10 años retroactivos.</p>
                    <p><strong>¿Qué pasa si me buscan?</strong></p>
                    <p>Al buscarte te mandarán la famosa <strong>"invitación"</strong> a cumplir con tus obligaciones
                        fiscales.</p>
                    <p>Aquí básicamente te estarán dando otra oportunidad de ponerte al corriente.</p>
                    <p>OJO: Es probable que tengas que pagar actualizaciones y recargos.</p>
                    <p><strong>¿Y si no lo hago?</strong></p>
                    <p>Si insistes en no cooperar, el SAT volverá a buscarte pero ya no con un aviso, si no <strong>con
                            multas y las actualizaciones y recargos acumulados.</strong></p>
                    <p>Las multas van <strong>desde los $1,500 hasta los $38mil MXN</strong> por cada obligación que no
                        presentaste en tiempo y forma.</p>
                    <p><strong>Y eso no es todo...</strong></p>
                    <p>Hasta podrían clausurar tu negocio (si fuera el caso). Y en casos extremos, te arriesgas a que el
                        SAT te relacione con <strong>delitos de elusión, defraudación y evasión fiscal.</strong></p>
                    <p><em>Delitos que en algunos casos se castigan hasta con cárcel.</em></p>
                    <p><strong>¿En serio me puedo ir a la cárcel?</strong></p>
                    <p>El único caso en que podrías aplicar para la cárcel es si terminas debiendo más de un millón y
                        medio de impuestos, aquí si podrías pasar entre 3 meses a 2 años de cárcel (dependiendo del
                        delito) o si <strong>detectan que cometes o te relacionan con operaciones ilícitas.</strong></p>
                    <p><strong>Aquí te dejamos un mini glosario de conceptos que debes tener en cuenta:</strong></p>
                    <ul>
                        <li><strong>Elusión fiscal:</strong> Pagar menos impuestos de los que deberías. Aprovechándote
                            de métodos legales y estrategias fiscales. <em>Suelen tener consecuencias fiscales más no
                                penales.</em></li>
                        <li><strong>Defraudación fiscal:</strong> Cuando haces creer a la autoridad que estás cumpliendo
                            con la ley, pero lo haces con métodos ilegales. Es cuando declaras tus impuestos de manera
                            incorrecta. <em>Suelen tener consecuencias fiscales más no penales.</em></li>
                        <li><strong>Evasión fiscal:</strong> Es evitar pagar impuestos de manera intencional mediante
                            operaciones ilegales, contrabando, ocultando o inventando información. <em>Este delito está
                                penado con cárcel.</em></li>
                    </ul>
                    <p><em>No existen tips para pasar desapercibido ante el SAT ni para no pagar impuestos, al final del
                            día te encontrarán.</em></p>
                    <p><em>Lo mejor que puedes hacer es siempre mantener tu situación fiscal en orden apoyándote de un
                            profesional para hacerlo.</em></p>
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right:0.33rem"><a
                            href="/tags/dudas/">dudas</a></div>
                </div>
            </div>
        </div>
    </div>
</div>