<div class="section section-purple">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="featured-thumbnail">
                    <div class=" gatsby-image-wrapper" style="position:relative;overflow:hidden;border-radius:5px">
                        <div aria-hidden="true" style="width:100%;padding-bottom:66.8%"></div><img aria-hidden="true"
                            src="../img/gallery/free-book-cover-mockup-psd-for-branding-1-.jpg"
                            alt="featured image thumbnail for post Glosario Básico sobre el SAT"
                            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 0; transition-delay: 500ms;">
                        <picture>
                            <source srcset="../img/gallery/free-book-cover-mockup-psd-for-branding-1-.jpg"
                                sizes="(max-width: 1000px) 100vw, 1000px"><img sizes="(max-width: 1000px) 100vw, 1000px"
                                srcset="../img/gallery/free-book-cover-mockup-psd-for-branding-1-.jpg"
                                src="/static/d3048335b74134fa7ea3dbb8dba71a45/724c8/free-book-cover-mockup-psd-for-branding-1-.jpg"
                                alt="featured image thumbnail for post Glosario Básico sobre el SAT" loading="lazy"
                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: opacity 500ms ease 0s;">
                        </picture><noscript>
                            <picture>
                                <source srcset="../img/gallery/free-book-cover-mockup-psd-for-branding-1-.jpg"
                                    sizes="(max-width: 1000px) 100vw, 1000px" /><img loading="lazy"
                                    sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/free-book-cover-mockup-psd-for-branding-1-.jpg"
                                    src="../img/gallery/free-book-cover-mockup-psd-for-branding-1-.jpg"
                                    alt="featured image thumbnail for post Glosario Básico sobre el SAT"
                                    style="position:absolute;top:0;left:0;opacity:1;width:100%;height:100%;object-fit:cover;object-position:center" />
                            </picture>
                        </noscript>
                    </div>
                </div>
                <h1 class="text-primary mt-5">Glosario Básico sobre el SAT</h1>
                <p class="text-light font-lg">
                    Aquí encontrarás todo lo que necesitas para saber cómo funciona el SAT.
                    Pero antes de empezar de lleno, es importante relacionarse con los términos, así que aquí les
                    dejamos los más comunes: </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <p><strong>SAT: (Servicio de Administración Tributaria)</strong> Órgano de la secretaría de
                        Hacienda, que se encarga de las leyes fiscales y aduaneras.
                        En pocas palabras: Recauda impuestos para el gasto público en México.</p>
                    <p><strong>RFC: (Registro Federal de Contribuyentes)</strong>
                        Clave única que te identifica ante el SAT
                        Se compone de tus iniciales, fecha de nacimiento y la homoclave (3 dígitos únicos que te
                        diferencian del resto) </p>
                    <p><strong>Registrarse ante el SAT:</strong> Además de obtener tu RFC, debes registrar en el Portal
                        del SAT tus medios de contacto y las actividades económicas que estarás realizando y en qué
                        porcentaje promedio al año. Ejemplo: 80% Asalariado, 20% Freelancer</p>
                    <p><strong>Régimen:</strong> Esquema en el que entras según tu actividad económica y que dictará tus
                        obligaciones y derechos ante el SAT. </p>
                    <p><strong>FIEL / E.FIRMA:</strong> Firma electrónica avanzada. Equivale a una firma autógrafa, con
                        la que tú das consentimiento en los procedimientos electrónicos ante el Portal del SAT, y con
                        ello validar que toda información dada es verídica.</p>
                    <p><strong>Obligación ante el SAT:</strong> Lo que las leyes aplicables establezcan como obligatorio
                        en nuestro Sistema Tributario. Ejemplo: Pago de impuestos, declaraciones, registro de domicilio
                        fiscal, facturación, etc.</p>
                    <p><strong>IVA: (Impuesto al Valor Agregado)</strong>
                        El famoso 16%, aplicado al consumo de productos y servicios. (éste es el que cobras a tus
                        clientes y a su vez debes presentarlo en tus declaraciones)</p>
                    <p><strong>ISR: (Impuesto Sobre la Renta)</strong>
                        Es el impuesto que se le aplica a la ganancia (incremento de patrimonio) que tuviste en un
                        cierto periodo. Este también se paga en tus declaraciones. </p>
                    <p><strong>IEPS: (Impuesto Especial sobre Productos y Servicios)</strong>
                        Este impuesto se aplica sólo a ciertos productos como la cerveza, tabaco, gasolina, etc.
                        Ya viene implícito en el costo de estos productos.</p>
                    <p><em>Estos son solo algunos de los términos más básicos y comunes, pero al saber qué significan
                            será más fácil que entiendas todo lo que sigue.</em> </p>
                    <p><em>Esperamos que este blog te ayude a hacer tu vida adulta más sencilla.</em> </p>
                    <p><em>No olvides suscribirte a nuestro newsletter para enterarte de todo antes que nadie.</em></p>
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right:0.33rem"><a
                            href="/tags/dudas/">Dudas</a></div>
                </div>
            </div>
        </div>
    </div>
</div>