<div class="section section-purple">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="featured-thumbnail">
                    <div class=" gatsby-image-wrapper" style="position:relative;overflow:hidden;border-radius:5px">
                        <div aria-hidden="true" style="width:100%;padding-bottom:66.8%"></div><img aria-hidden="true"
                            src="../img/gallery/opinion.png"
                            alt="featured image thumbnail for post ¿Qué es el IVA?"
                            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 0; transition-delay: 500ms;">
                        <picture>
                            <source srcset="../img/gallery/opinion.png"sizes="(max-width: 1000px) 100vw, 1000px"><img
                                sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/opinion.png"
                                src="../img/gallery/opinion.png"
                                alt="featured image thumbnail for post ¿Qué es el IVA?" loading="lazy"
                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: opacity 500ms ease 0s;">
                        </picture><noscript>
                            <picture>
                                <source srcset="../img/gallery/opinion.png" sizes="(max-width: 1000px) 100vw, 1000px" /><img
                                    loading="lazy" sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/opinion.png"
                                    src="../img/gallery/opinion.png"
                                    alt="featured image thumbnail for post ¿Qué es el IVA?"
                                    style="position:absolute;top:0;left:0;opacity:1;width:100%;height:100%;object-fit:cover;object-position:center" />
                            </picture>
                        </noscript>
                    </div>
                </div>
                <h1 class="text-primary mt-5">¿Qué es el IVA?</h1>
                <p class="text-light font-lg">El concepto que escuchamos en todos lados y que nos lo cobran en todas las
                    cosas, pero ¿realmente sabemos qué significa? Hoy les explicaremos uno de los términos más usados y
                    cómo funciona.</p>
            </div>
        </div>
    </div>
</div>
<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <p><strong>El IVA (El Impuesto al Valor Agregado)</strong></p>
                    <p>Es el valor económico adicional que ganan los bienes o servicios al ser transformados durante un
                        proceso productivo.</p>
                    <p><em>Ejemplo:</em></p>
                    <p>La caña al ser transformada en azúcar adquiere un valor agregado, el cual pagamos en forma de
                        IVA.</p>
                    <p><strong>¿Y cómo funciona?</strong></p>
                    <p>Se aplica <strong>de forma indirecta</strong>, pues al ejercer una actividad económica eres
                        encargado/a de pedir ese impuesto a tus clientes al momento de hacer una <strong>transacción
                            comercial</strong>.</p>
                    <p>Su naturaleza es de forma definitiva, solo se paga y declara una vez al mes o al bimestre
                        (dependiendo de tu régimen fiscal), por lo que este impuesto <strong>no se presenta en tu
                            declaración anual.</strong></p>
                    <p>Para la mayoría de los casos el <strong>IVA</strong> representa una <strong>tasa del 16%</strong>
                        del subtotal de un costo.</p>
                    <p>Si eres <strong>RIF</strong> tienes la ventaja de solo cobrar desde un 8% hasta un 0% de IVA,
                        dependiendo del giro de tus <strong>actividades económicas</strong>.</p>
                    <p>OJO: Nunca olvides agregarlo a tus precios como costo fijo.</p>
                    <p><strong>¿Y cómo se calcula?</strong></p>
                    <p>Es muy sencillo, solamente agrega el 16% (o lo que te corresponda si eres RIF) al subtotal de tu
                        producto o servicio.</p>
                    <p><em>Ejemplo:</em></p>
                    <p>Subtotal (Costo de tu producto o servicio): $1,000.00</p>
                    <p>(+) IVA de 16%: $160.00</p>
                    <p>(=) Total precio de venta: $1,160.00</p>
                    <p>También existe el caso (siendo RIF o no) en el que puedes estar <strong>exento de cobrar el
                            IVA</strong>.</p>
                    <p><em>Ejemplo:</em></p>
                    <ul>
                        <li><strong>Prestar servicios:</strong> Profesionales médicos, construcción de casas,
                            exportación de artículos, arrendar una casa.</li>
                        <li><strong>Vender:</strong> Medicinas, tu casa habitación, hielo y agua, libros, periódicos,
                            oro, joyería, etc.</li>
                    </ul>
                    <p><em>No olvides que el IVA es un impuesto que debes considerar en tu precio de venta al ofrecer un
                            servicio o vender un producto, ya que tendrás que pagarlo obligatoriamente al SAT.</em></p>
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right:0.33rem"><a
                            href="/tags/impuestos/">impuestos</a></div>
                </div>
            </div>
        </div>
    </div>
</div>