<div class="container">
    <div class="section">
        <div class="container">
            <div class="align-items-center">
                <h1 class="header-p">
                    Música/VideoClips
                </h1>
                <div class="col-8 col-lg-10 ">
                  <img alt="music1" fullwitdh src="../img/music/music1.png" class="img-fluid" >
                </div>
                <div class="row col-6 col-lg-10">
                    <div class="col-6 col-lg-5">
                        <p>TEMPO (NIGHT MIX) - 2022- VER VIDEO -></p>
                        <img alt="music1" fullwitdh src="../img/music/music2.png">
                    </div>
                    <div class="col-6 col-lg-5">
                        <p>TEMPO - 2021- VER VIDEO -></p>
                        <img alt="music1" fullwitdh src="../img/music/music3.png">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>