<div class="container my-lg-5">
    <h2 class="my-5 text-center">Nuestros clientes nos avalan*</h2>
    <div class="mb-5">
      <div class="row">
        <div class="col-6 col-lg-3">
          <img src="../img/reviews/1.png">
        </div>
        <div class="col-6 col-lg-3">
          <img src="../img/reviews/2.png">
        </div>
        <div class="col-6 col-lg-3">
          <img src="../img/reviews/3.png">
        </div>
        <div class="col-6 col-lg-3">
          <img src="../img/reviews/4.png">
        </div>
        <div class="col-6 col-lg-3">
          <img src="../img/reviews/5.png">
        </div>
        <div class="col-6 col-lg-3">
          <img src="../img/reviews/6.png">
        </div>
        <div class="col-6 col-lg-3">
          <img src="../img/reviews/7.png">
        </div>
        <div class="col-6 col-lg-3">
          <img src="../img/reviews/8.png">
        </div>
      </div>
    </div>
    <div class="carousel-root">
      <div class="carousel carousel-slider" style="width: 100%;">
        <ul class="control-dots">
          <li class="dot" value="0" role="button" tabindex="0" aria-label="slide item 1"></li>
          <li class="dot" value="1" role="button" tabindex="0" aria-label="slide item 2"></li>
          <li class="dot selected" value="2" role="button" tabindex="0" aria-label="slide item 3"></li>
        </ul>
        <button type="button" aria-label="previous slide / item" class="control-arrow control-prev"></button>
        <div class="slider-wrapper axis-horizontal">
          <ul class="slider animated" style="transform: translate3d(-200%, 0px, 0px); transition-duration: 350ms;">
            <li class="slide">
              <div class="mx-lg-5 mb-5">
                <div class="row">
                  <div class="col-lg-4 mb-3">
                    <div class="card h-100">
                      <p>"La hora SAT es un gran servicio. Desde el primer contacto con la p치gina, pasando por el pago y la asesor칤a,
                         todo cumple su funci칩n. Muchas gracias por todo. "
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <div class="card h-100">
                      <p>"Amo su paciencia y su don por ayudar y ense침arnos a no morir con el SAT. Creo que si resolv칤 todas mis dudas
                         si alguna me queda pendiente es porque huyo de mi cabeza :) En verdad muchas gracias por ayudarme a dar de 
                         nuevo los pasitos b치sicos para estar al 100 con el SAT."
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <div class="card h-100">
                      <p>"Muy buena la asesor칤a, Miranda resolvi칩 todas nuestras dudas, de manera s칰per did치ctica y amable, algo que 
                        valoramos mucho porque no ten칤amos nada de idea de esto! Gracias!  "
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="slide">
              <div class="mx-lg-5 ">
                <div class="row">
                  <div class="col-lg-4 mb-3">
                    <div class="card h-100">
                      <p>"Una excelente atenci칩n, resolvi칩 mis dudas amablemente, me brind칩 la orientaci칩n necesaria para conocer el 
                        proceso y los pasos a seguir. Me sent칤 en total confianza."
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <div class="card h-100">
                      <p>"Todo estuvo excelente, un tema tan dif칤cil lo hacen muy f치cil para 
                        uno como simple mortal. 100/100"
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <div class="card h-100">
                      <p>"Todo estuvo perfecto, pq antes de la asesoria, me preguntaron mis dudas especificas y sobre eso nos fuimos,
                         asi aprovechamos la hora de asesoria "
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="slide selected previous">
              <div class="mx-lg-5">
                <div class="row justify-content-center">
                  <div class="col-lg-4 mb-3">
                    <div class="card h-100">
                      <p>"Estuvo muy bien! Me ayudaron much칤simo sobre dudas que casi nadie me 
                        hab칤a resuelto, las recomendar칠 游때"
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <div class="card h-100">
                      <p>"Tuve mucha luz, estaba muy perdida pero justo despu칠s de platicar con ustedes hicieron sentido 
                        las cosas que me estaban pidiendo.  Ya me asusta menos la responsabilidad de declarar mensualmente."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <button type="button" aria-label="next slide / item" class="control-arrow control-next control-disabled"></button>
      </div>
    </div>
    <div class="mt-3">
      <p class="font-xs text-center">
        * Rese침as de la encuesta de satisfacci칩n que enviamos al terminar la
        asesoria, nombres ocultos por respeto a su privacidad.
      </p>
    </div>
</div>