<div class="section section-purple">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="featured-thumbnail">
                    <div class=" gatsby-image-wrapper"
                        style="position: relative; overflow: hidden; border-radius: 5px;">
                        <div aria-hidden="true" style="width: 100%; padding-bottom: 66.8%;"></div><img
                            aria-hidden="true" src="../img/gallery/opinion.png" alt=""
                            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 0;">
                        <picture>
                            <source srcset="../img/gallery/opinion.png" sizes="(max-width: 1000px) 100vw, 1000px"><img
                                sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/opinion.png"
                                src="../img/gallery/opinion.png"
                                alt="featured image thumbnail for post ¿Qué es la opinión del cumplimiento?"
                                loading="lazy"
                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: none 0s ease 0s;">
                        </picture><noscript>
                            <picture>
                                <source srcset="../img/gallery/opinion.png" sizes="(max-width: 1000px) 100vw, 1000px" />
                                <img loading="lazy" sizes="(max-width: 1000px) 100vw, 1000px"
                                    srcset="../img/gallery/opinion.png" src="../img/gallery/opinion.png"
                                    alt="featured image thumbnail for post ¿Qué es la opinión del cumplimiento?"
                                    style="position:absolute;top:0;left:0;opacity:1;width:100%;height:100%;object-fit:cover;object-position:center" />
                            </picture>
                        </noscript>
                    </div>
                </div>
                <h1 class="text-primary mt-5">¿Qué es la opinión del cumplimiento?</h1>
                <p class="text-light font-lg">La opinión de cumplimiento es uno de los documentos más importantes del
                    SAT que debes que revisar constantemente, pues aquí se te informa: Si estás activo ante el SAT. Si
                    tienes alguna deuda. Si estás al corriente con tus obligaciones fiscales.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <p>Al revisarlo, pueden salir dos resultados:&nbsp;</p>
                    <p><strong><em>OPINIÓN POSITIVA:</em></strong>&nbsp;</p>
                    <p>- Significa que estás activo ante el SAT y que estás al corriente con todas tus obligaciones.</p>
                    <p><strong><em>OPINIÓN NEGATIVA:</em></strong>&nbsp;</p>
                    <p>Aquí puede tratarse de dos cosas:&nbsp;</p>
                    <p><strong>La primera:</strong> que no estás activo, es decir que no estés dado de alta ni como
                        asalariado. También si suspendiste tu régimen, aparecerá este resultado. Si este es tu
                        caso,&nbsp; no te asustes, no significa nada malo, esto refleja únicamente que no tienes
                        obligaciones fiscales.</p>
                    <p><strong>La segunda:</strong> que no estás al corriente con tus obligaciones y eso SÍ es de
                        preocuparse. Te aparecerán listadas todas las declaraciones que te hace falta presentar o en su
                        caso, la deuda (crédito fiscal) que el SAT ya te habrá impuesto.</p>
                    <p><strong>Ojo:</strong> si te sale esto y dejas pasar más tiempo sin ponerte al corriente con lo
                        que te está pidiendo el SAT, puedes ser acreedor a una multa.</p>
                    <p><strong>¿Qué otro uso tiene la Opinión de cumplimiento?</strong></p>
                    <p>Este documento también te sirve para realizar trámites gubernamentales, financiamientos,
                        estímulos, apoyos, etc. Y es un requisito que la opinión aparezca POSITIVA y que se haya
                        generado recientemente.&nbsp;</p>
                    <p>Además, si tienes alguien que te lleva tu contabilidad, revisarla te ayudará a estar seguro de
                        que tenga todo al corriente.</p>
                    <p><strong>¿Dónde la puedo consultar?</strong></p>
                    <ol>
                        <li>Ingresa a la página principal del SAT:<strong><a href="https://www.sat.gob.mx/home">
                                    https://www.sat.gob.mx/home</a></strong></li>
                        <li>Pon tu cursor sobre&nbsp; “Otros trámites y servicios” y selecciona la 3ra opción:</li>
                    </ol>
                    <p><img
                            src="https://lh3.googleusercontent.com/GNAAtpppMg-RM_MaJLXrh7F63LQjHzp4yj94j2BdlI3qqHzDt5t0wmdoS5Y011QyP8bwaQHJe_cx8Nkldq4qUv4Lyu6DyQ-AUedmvXeQ7Ge7oVX0w58CSBt5k_lVG0o5J4wOhwAVUgUtqySMNI7qcJdP2OLnTD7bXiPCLZy5MDVRZTVsyY9jgu5sICVrfA">
                    </p>
                    <ol start="3">
                        <li>Ingresa con tus claves personales y ¡Listo!&nbsp;</li>
                    </ol>
                    <p>Ten un poco de paciencia, a veces este archivo tarda varios segundos en cargar. ☺</p>
                    <p>Recuerda que estos resultados se actualizan todos los días, por eso es importante revisar
                        constantemente este documento y mantenerte al corriente con el SAT.</p>
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right: 0.33rem;"><a
                            href="/tags/portal-del-sat/">PORTAL DEL SAT</a></div>
                </div>
            </div>
        </div>
    </div>
</div>