<div class="section section-gray text-center">
    <div class="container">
      <p>
        Sabemos que ser adulto es muy difícil, por eso creamos el curso...
      </p>
      <h1>Pasos básicos para sobrevivir al SAT</h1>
      <p>El curso ideal para:</p>
      <div class="row mt-3">
        <div class="col-lg-4">
          <div class="card mb-3">
            <img src="../img/cursos/curso-en-video/dirigido-freelancers.svg" width="100" class="mx-auto mb-3" />
            <h5>Freelancers</h5>
            <p class="mb-3">
              Que tienen que dar factura a sus clientes y quieren saber
              cómo hacerlo y usar esto a su favor.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-3">
            <img src="../img/cursos/curso-en-video/dirigido-millenials.svg" width="100" class="mx-auto mb-3" />
            <h5>Recien graduados</h5>
            <p class="mb-3">
              Que acaban de incorporarse a la vida de “adulto” y quieren
              saber quiúbole con el SAT
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-3">
            <img src="../img/cursos/curso-en-video/dirigido-publico.svg" width="100" class="mx-auto mb-3" />
            <h5>Emprendedores</h5>
            <p class="mb-3">
              Que quiere aprender cómo sobrevivir al SAT de manera
              sencilla.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
