<div class="section section-green text-center">
    <div class="container">
      Compra tu curso hoy con un 50% de descuento!
      <h1 class="mt-2 mb-4">Pasos básicos para sobrevivir al SAT</h1>
      <img
        src="../img/cursos/curso-en-video/foto-paquete.jpg"
        class="image-stroke-purple img-fluid mb-5"
        style= "max-width:400px" 
      />
      <div class="text-center">
        <div class="px-lg-3">
          <div class="d-flex align-items-center justify-content-center">
            <h4 marginRight= "6px">
              <s>de $800 </s> a sólo $349
            </h4>
          </div>
          <b class="text-uppercase mb-1 font-xxs">Incluye:</b>
          <ul>
            <li>
              8 lecciones en video profesional super faciles de entender
            </li>
            <li>Acceso para siempre</li>
          </ul>
          <p class="font-xs">
            * Pagas en línea de manera 100% segura, aceptamos todas las
            tarjetas de crédito o débito.
          </p>
          <a
            class="btn btn-secondary btn-lg mb-3 me-3"
            href="https://lahorasat.podia.com/curso-en-video"
            data-podia-embed="link"
          >
            Comprar curso
          </a>
        </div>
      </div>
    </div>
  </div>