<div class="section section-purple">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="featured-thumbnail">
                    <div class=" gatsby-image-wrapper" style="position:relative;overflow:hidden;border-radius:5px">
                        <div aria-hidden="true" style="width:100%;padding-bottom:66.8%"></div><img aria-hidden="true"
                            src="../img/gallery/facturas.png"
                            alt="featured image thumbnail for post ¿Cómo pedir de manera correcta tus facturas de compras?"
                            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 0; transition-delay: 500ms;">
                        <picture>
                            <source srcset="../img/gallery/facturas.png" sizes="(max-width: 1000px) 100vw, 1000px"><img
                                sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/facturas.png"
                                src="../img/gallery/facturas.png"
                                alt="featured image thumbnail for post ¿Cómo pedir de manera correcta tus facturas de compras?"
                                loading="lazy"
                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: opacity 500ms ease 0s;">
                        </picture><noscript>
                            <picture>
                                <source srcset="../img/gallery/facturas.png" sizes="(max-width: 1000px) 100vw, 1000px" /><img
                                    loading="lazy" sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/facturas.png"
                                    src="../img/gallery/facturas.png"
                                    alt="featured image thumbnail for post ¿Cómo pedir de manera correcta tus facturas de compras?"
                                    style="position:absolute;top:0;left:0;opacity:1;width:100%;height:100%;object-fit:cover;object-position:center" />
                            </picture>
                        </noscript>
                    </div>
                </div>
                <h1 class="text-primary mt-5">¿Cómo pedir de manera correcta tus facturas de compras?</h1>
                <p class="text-light font-lg">Te ha pasado que al comprar algo y solicitar factura te preguntan: ¿Uso de
                    CFDI?
                    Pues esto se debe a que dicho campo indica la finalidad que le darás a la factura.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <p>Para poder generar una factura, existe una gran variedad de tipos de Uso de CFDI que se
                        diferencian por claves.</p>
                    <p>Aquí te decimos cuál debes elegir según tu tipo de gasto:</p>
                    <p><img src="../img/gallery/group-253.png"></p>
                    <p><br>
                        En esta <a href="https://lahorasat.com/blog/2021-12-06-tipos-de-deducciones/">entrada</a> puedes
                        checar qué son las deducciones y las diferencias entre las autorizadas y las personales.</p>
                    <p>Te recomendamos informarte de qué tipo de deducciones te aplican según tu régimen y a lo que te
                        dedicas, con esto sabrás elegir el Uso de CFDI correcto para las facturas de tus gastos.</p>
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right:0.33rem"><a
                            href="/tags/deducciones/">DEDUCCIONES</a></div>
                </div>
            </div>
        </div>
    </div>
</div>