<div class="section section-purple">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="featured-thumbnail">
                    <div class=" gatsby-image-wrapper"
                        style="position: relative; overflow: hidden; border-radius: 5px;">
                        <div aria-hidden="true" style="width: 100%; padding-bottom: 66.8%;"></div><img
                            aria-hidden="true"
                            src="../img/gallery/regimenes.png"
                            alt=""
                            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 0;">
                        <picture>
                            <source srcset="../img/gallery/regimenes.png" sizes="(max-width: 1000px) 100vw, 1000px"><img
                                sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/regimenes.png"
                                src="../img/gallery/regimenes.png"
                                alt="featured image thumbnail for post ¿Qué son los regímenes fiscales?" loading="lazy"
                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: none 0s ease 0s;">
                        </picture><noscript>
                            <picture>
                                <source srcset="../img/gallery/regimenes.png"sizes="(max-width: 1000px) 100vw, 1000px" />
                                <img loading="lazy" sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/regimenes.png"
                                    src="../img/gallery/regimenes.png"
                                    alt="featured image thumbnail for post ¿Qué son los regímenes fiscales?"
                                    style="position:absolute;top:0;left:0;opacity:1;width:100%;height:100%;object-fit:cover;object-position:center" />
                            </picture>
                        </noscript>
                    </div>
                </div>
                <h1 class="text-primary mt-5">¿Qué son los regímenes fiscales?</h1>
                <p class="text-light font-lg">Lo primero que debes entender antes de darte de alta en el SAT, son los
                    regímenes fiscales.
                    Estos son esquemas en los cuales se te asigna alguno dependiendo de tu actividad económica (o sea a
                    lo que te vas a dedicar). Y cada esquema tiene diferentes obligaciones y derechos. ¡Por eso es muy
                    importante que elijas bien!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <h2>¿Qué tipos de regímenes hay?&nbsp;</h2>
                    <p><br>
                        <strong>1. Persona Moral:</strong> Un grupo de personas (ejemplo: una empresa, asociación,
                        fundación, etc.)&nbsp;
                    </p>
                    <p><strong>2. Persona Física:</strong> Hay varios tipos:&nbsp;</p>
                    <p><strong>Asalariado:</strong> Eres empleado y tienes uno o más jefes (ej. trabajas en una oficina,
                        empresa, agencia, corporativo etc).</p>
                    <p><em>Obligaciones:</em></p>
                    <ul>
                        <li>No tienes obligación de pagar IVA&nbsp;</li>
                        <li>Tu jefe lleva todos los asuntos del SAT todo por ti&nbsp;</li>
                        <li>Puedes hacer tus declaraciones y meter tus propias deducciones.</li>
                    </ul>
                    <p><strong>Actividad empresarial:</strong> Tienes un oficio o vendes mercancía (ej. emprendedores,
                        cafeterías, tiendas, etc.)&nbsp;&nbsp;</p>
                    <p><em>Obligaciones:</em>&nbsp;</p>
                    <ul>
                        <li>Tú eres el responsable de pagar IVA e ISR&nbsp;</li>
                        <li>Si ganas menos de 3.5&nbsp; millones anuales en esas actividades, puedes ser RESICO y tener
                            beneficios extra.&nbsp;</li>
                    </ul>
                    <p><strong>Actividad profesional por honorarios:</strong> Prestas servicios profesionales (ej.
                        freelancer, diseñador, programador, etc)&nbsp;</p>
                    <p><em>Obligaciones:</em>&nbsp;</p>
                    <ul>
                        <li>Emitir facturas por proyecto, quincena o mes.&nbsp;</li>
                        <li>Tú eres el responsable de pagar IVA e ISR&nbsp;</li>
                    </ul>
                    <p><br>
                        <strong>RESICO (Régimen Simplificado de Confianza)</strong> Enfocado en las personas que
                        perciben menos de 3.5 millones al año.
                    </p>
                    <p><strong><em><code>Ojo:</code></em></strong> los trabajadores asalariados, socios, accionistas o
                        personas morales&nbsp; no pueden entrar en este régimen.&nbsp;</p>
                    <p><em>Obligaciones:</em>&nbsp;</p>
                    <ul>
                        <li>Pagar entre el 1 y 2.5 % de tasa de impuesto, dependiendo de la tabla mensual y anual
                            publicada.&nbsp;</li>
                        <li>Presentar tus declaraciones antes del 17 de cada mes.&nbsp;</li>
                    </ul>
                    <p>Estos son los regímenes más populares. Recuerda que es súper importante que antes de incorporarte
                        al SAT, conozcas el régimen ideal para ti. Si aún no sabes cuál es el que más te conviene,
                        compra nuestro curso básico en video que te ayudará a entender todo esto.</p>
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right: 0.33rem;"><a
                            href="/tags/regimenes-fiscales/">REGIMENES FISCALES</a></div>
                </div>
            </div>
        </div>
    </div>
</div>