<div class="section section-purple">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="featured-thumbnail">
                    <div class=" gatsby-image-wrapper"
                        style="position: relative; overflow: hidden; border-radius: 5px;">
                        <div aria-hidden="true" style="width: 100%; padding-bottom: 66.8%;"></div><img
                            aria-hidden="true"
                            src="../img/gallery/resico.png"
                            alt=""
                            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 0;">
                        <picture>
                            <source srcset="../img/gallery/resico.png"sizes="(max-width: 1000px) 100vw, 1000px"><img
                                sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/resico.png"
                                src="../img/gallery/resico.png"
                                alt="featured image thumbnail for post Características del RESICO" loading="lazy"
                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: none 0s ease 0s;">
                        </picture><noscript>
                            <picture>
                                <source srcset="../img/gallery/resico.png" sizes="(max-width: 1000px) 100vw, 1000px" /><img
                                    loading="lazy" sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/resico.png"
                                    src="../img/gallery/resico.png"
                                    alt="featured image thumbnail for post Características del RESICO"
                                    style="position:absolute;top:0;left:0;opacity:1;width:100%;height:100%;object-fit:cover;object-position:center" />
                            </picture>
                        </noscript>
                    </div>
                </div>
                <h1 class="text-primary mt-5">Características del RESICO</h1>
                <p class="text-light font-lg">Aquí te dejamos la tabla con la tasa de ISR que se cobrará según los
                    ingresos que percibas y algunas otras características importantes sobre el nuevo Régimen
                    Simplificado de Confianza</p>
            </div>
        </div>
    </div>
</div>
<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <h3>El pago de ISR mensual se calculará según siguiente tabla:</h3>
                    <p><img src="../img/gallery/group-242.png"></p>
                    <p><br>
                        <br>
                        <strong>Otras características:</strong>&nbsp;
                    </p>
                    <ul>
                        <li>&nbsp;Ya no existirán las deducciones personales y autorizadas para la declaración de
                            ISR</li>
                        <li>Todos tus clientes que sean Persona Moral te retendrán la tasa del 1.25% de ISR en las
                            facturas que tú generes (sin importar a lo que te dediques).</li>
                        <li>El cálculo de ISR será de manera automática dentro del portal del SAT con base a tus
                            facturas de ingresos generadas en el periodo.</li>
                        <li>&nbsp;El cálculo y pago del IVA continua igual, con una tasa del 0%, 16% o exento
                            (dependiendo a qué te dediques).</li>
                        <li>Se declara de manera mensual y anual.</li>
                        <li>&nbsp;No tendrás la obligación de presentar DIOT ni contabilidad electrónica.</li>
                    </ul>
                    <p><br>
                        <strong><em>Puntos importantes a considerar:</em></strong>
                    </p>
                    <ul>
                        <li>Si no presentas tres declaraciones mensuales consecutivas o tu Declaración Anual en los
                            tiempos establecidos por el SAT, te cambiarán en automático a Persona Física con
                            Actividad Empresarial y Servicios Profesionales y tendrás que declarar todo otra vez con
                            el nuevo régimen actualizado.</li>
                        <li>Si tienes saldos a favor de años anteriores únicamente tendrás hasta la declaración
                            anual de 2022 para aprovecharlos.</li>
                        <li>Solamente podrás cancelar tus facturas de Público en General dentro del mismomes en que
                            las generaste.</li>
                    </ul>
                    <p><code>Ahora que ya conoces cómo funcionará este nuevo régimen, no olvides mantenerte al día con tus declaraciones y pago de impuestos. Recuerda que si tienes dudas, puedes contactarnos para asesorarte.</code>
                    </p>
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right: 0.33rem;"><a
                            href="/tags/regimenes-fiscales/">REGIMENES FISCALES</a></div>
                </div>
            </div>
        </div>
    </div>
</div>