<div class="section section-purple">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-7 mx-auto">
            <img src="../img/gallery/acento-verde.svg" class="mb-3 mx-auto" />
          <h2 class="mb-5">
            Somos la comunidad de educación fiscal más grande
          </h2>
        </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
          <p class="text-light">
            Todo lo que necesitas saber sobre el SAT contado por millennials
            para millennials (o para quien lo necesite) 🤓💸
          </p>
          <p class="text-light">
            Tenemos dos años en el mercado… y en ese tiempo
            <strong>
              hemos logrado ayudar a más de 50 mil personas a aprender de
              forma sencilla
            </strong>
            cómo funciona el SAT.
          </p>
          <p class="text-light">
            Nuestros servicios se han vendido en todo México, en USA y hasta en Europa (respaldando a los mexas a la distancia 💪🏼).
          </p>
        </div>
        <div class="col-lg-6">
          <div class="mx-lg-3">
            <img
              src="../img/cursos/curso-en-video/foto-about.jpg"
              class="image-stroke-green img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="row pt-3 mx-auto text-center">
        <div class="col-lg-4 about-number">
          <img src="../img/cursos/curso-en-video/cora.png" width="70" />
          +40k
          <a href="https://www.instagram.com/lahorasat/" tartget="_blank"><img src="../img/cursos/curso-en-video/instagram.svg" width="45" /></a>
        </div>
        <div class="col-lg-4 about-number">
          <img src="../img/cursos/curso-en-video/like.png" width="70" />
          2.3k
          <a href="https://www.facebook.com/profile.php?id=100063771390136" target="_blank"><img src="../img/cursos/curso-en-video/facebook.svg" width="45" /></a>
        </div>
        <div class="col-lg-4 about-number">
          <img src="../img/cursos/curso-en-video/cora.png" width="70" />
          3k
          <a href="https://twitter.com/LahoraSat/" target="_blank"><img src="../img/cursos/curso-en-video/twitter.svg" width="45" /></a>
        </div>
      </div>
    </div>
</div>