<div class="section section-purple">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-7 mx-auto">
          <img src="../img/gallery/acento-verde.svg" class="mb-3 mx-auto" />
          <h2 class="mb-3">
            Somos la comunidad de educación fiscal más grande
          </h2>
        </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col-lg-6 pt-5">
          <ul>
            <li>+100 cursos presenciales a escuelas y empresas</li>
            <li>Miles de cursos online vendidos</li>
            <li>+1,000 horas de asesoría personalizada y a grupos</li>
          </ul>
          <div class="about-number">
            <img src="../img/cursos/curso-en-video/cora.png" width="70" />
            +50k
            <a href="https://www.instagram.com/lahorasat/" tartget="_blank">
              <img src="../img/cursos/curso-en-video/instagram.svg" width="45" />
            </a>
          </div>
          <div class="about-number">
            <img src="../img/cursos/curso-en-video/like.png" width="70" />
            2.5k
            <a
              href="https://www.facebook.com/profile.php?id=100063771390136"
              target="_blank"
            >
              <img src="../img/cursos/curso-en-video/facebook.svg" width="45" />
            </a>
          </div>
          <div class="about-number">
            <img src="../img/cursos/curso-en-video/cora.png" width="70" />
            3k
            <a href="https://twitter.com/LahoraSat/" target="_blank">
              <img src="../img/cursos/curso-en-video/twitter.svg" width="45" />
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mx-lg-3">
            <img
              src="../img/cursos/curso-en-video/foto-about.jpg"
              class="image-stroke-green img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
</div>