<section class="section">
    <div class="container content">
        <div class="columns">
            <div class="column is-10 is-offset-1" style="margin-bottom:6rem">
                <h1 class="title is-size-2 is-bold-light">Tags</h1>
                <ul class="taglist">
                    <li><a href="tags-deducciones">#deducciones<!-- --> (<!-- -->1<!-- -->)</a></li>
                    <li><a href="tags-impuestos">#impuestos<!-- --> (<!-- -->1<!-- -->)</a></li>
                    <li><a href="tags-deducciones">DEDUCCIONES<!-- --> (<!-- -->1<!-- -->)</a></li>
                    <li><a href="tags-dudas">Dudas<!-- --> (<!-- -->1<!-- -->)</a></li>
                    <li><a href="tags-impuestos">Impuestos<!-- --> (<!-- -->1<!-- -->)</a></li>
                    <li><a href="tags-portal-del-sat">PORTAL DEL SAT<!-- --> (<!-- -->1<!-- -->)</a></li>
                    <li><a href="tags-regimenes-fiscales">REGIMENES FISCALES<!-- --> (<!-- -->2<!-- -->)</a></li>
                    <li><a href="tags-dudas">dudas<!-- --> (<!-- -->1<!-- -->)</a></li>
                    <li><a href="tags-impuestos">impuestos<!-- --> (<!-- -->1<!-- -->)</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>