<div class="section section-white">
    <div class="container">
      <div class="row mb-3 text-center">
        <h3 class="mb-5">Temario del curso</h3>
        <div class="col-lg-4">
          <div class="mb-3">
            <img src="../img/cursos/curso-en-video/temario-1.svg" class="img-fluid" width="100" />
          </div>
          <h6>Entendamos un poco al SAT</h6>
          <ul class="font-sm">
            <li>¿Cómo funciona?</li>
            <li>¿Qué necesito para incorporarme?</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <img src="../img/cursos/curso-en-video/temario-2.svg" class="img-fluid" width="100" />
          </div>
          <h6>Obligaciones ante el SAT</h6>
          <ul class="font-sm">
            <li>¿Qué son los regímenes?</li>
            <li>¿Cómo elegir mi régimen?</li>
            <li>¿Qué son los impuestos?</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <img src="../img/cursos/curso-en-video/temario-3.svg" class="img-fluid" width="100" />
          </div>
          <h6>Información que cura</h6>
          <ul class="font-sm">
            <li>Deducciones: Cómo usarlas a tu favor</li>
            <li>Tips para hacer todo más sencillo</li>
          </ul>
        </div>
      </div>
    </div>
</div>