<div class="section section-purple">
    <div class="container text-center">
      <div class="mb-5">
        <h1 class="mb-1 text-primary">Testimonios</h1>
        <p class="text-light">Tu experiencia es muy importante para nosotras, por eso nos esforzamos para darte el mejor servicio.</p>
        <p class="text-light">Aquí algunos de los comentarios de nuestros clientes: </p>
      </div>
      <div class="masonry-container">
        <div class="masonry-item"><img src="../img/reviews/1.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/2.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/3.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/4.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/5.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/6.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/7.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/8.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/9.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/10.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/11.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/12.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/13.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/14.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/15.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/16.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/17.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/18.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/19.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/20.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/21.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/22.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/23.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/24.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/25.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/26.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/27.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/28.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/29.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/30.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/31.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/32.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/33.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/34.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/35.png" /></div>
        <div class="masonry-item"><img src="../img/reviews/36.png" /></div>
      </div>
    </div>
  </div>