<div class="container">
    <div class="section">
        <div class="container">
            <div class="align-items-center">
              <div >
                <h1 class="header-p">
                    Upcoming Shows
                </h1>
                <div class="row col-6 col-lg-15">
                    <div class="col-6 col-lg-3">
                        <p>22/08/22</p>
                        <p>22/09/22</p>
                        <p>22/11/22</p>
                    </div>
                    <div class="col-6 col-lg-5">
                        <p>Centro 316 CDMX</p>
                        <p>Bajo Circuito CDMX</p>
                        <p>La Mexicana CUU</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <p><button><img alt="music1" fullwitdh src="../img/ticket/ticket.svg"></button></p>
                        <p><button><img alt="music1" fullwitdh src="../img/ticket/ticket.svg"></button></p>
                        <p><button><img alt="music1" fullwitdh src="../img/ticket/ticket.svg"></button></p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>