<section class="cover unpad--bottom switchable bg--secondary text-center-xs">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6 col-lg-5 mt--3">
        <h1>Join Us,<br />@ SleekSky</h1>
        <p class="lead">We are a select group of developers, engineers, creatives. We take pride in what we build</p>
        <b class="contact_span">
            <a class="btn btn--primary type--uppercase" href="#customise-template" onClick="javascript:$('.contact_span').html('Plese email us your resume at ' + '<i>careers' + '@' + 'sleeksky.com</i>')"> 
                <span class="btn__text contact_span">Apply now</span> 
            </a> 
        </b>
        <span class="block type--fine-print"> </span>
        <br/>
      </div>
      <div class="col-md-6"><img alt="Image" src="/img/stock/20944999-ai.svg" /></div>
    </div>
  </div>
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8">
        <h1>About Working Here</h1>
        <p class="lead">We cut to the chase, and keep the crap out. <br />Working here is simple, just get stuff done.</p>
      </div>
    </div>
  </div>
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="slider" data-paging="true">
          <ul class="slides">
            <li class="col-md-6 col-12">
              <div class="project-thumb">
                <a href="#"> <img alt="Image" class="border--round" src="/img/stock/tetiana-shyshkina-GwXSDoqpCMQ-unsplash.jpg" /> </a>
                <h4>Flexible Hours</h4>
                <span>You own your productivity and your time</span>
              </div>
            </li>
            <li class="col-md-6 col-12">
              <div class="project-thumb">
                <a href="#"> <img alt="Image" class="border--round" src="/img/stock/kevin-bhagat-zNRITe8NPqY-unsplash.jpg" /> </a>
                <h4>Work Remotely</h4>
                <span>Be there where your best work happens</span>
              </div>
            </li>
            <li class="col-md-6 col-12">
              <div class="project-thumb">
                <a href="#"> <img alt="Image" class="border--round" styles="width:200px" src="/img/stock/aziz-acharki-U3C79SeHa7k-unsplash.jpg" /> </a>
                <h4>Work-Life Balance</h4>
                <span> When you put life at the center, everything fits around perfectly</span>
              </div>
            </li>
            <li class="col-md-6 col-12">
              <div class="project-thumb">
                <a href="#"> <img alt="Image" class="border--round" styles="width:200px" src="/img/stock/surface-xGRLP2obiSg-unsplash.jpg" /> </a>
                <h4>Being Innovative</h4>
                <span>We value your ideas, creativity and help you grow</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
