<section class="switchable imagebg" data-overlay="4">
    <div class="background-image-holder"> <img alt="background" src="img/hero-1.jpg"> </div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-7"> <img alt="Image" src="/img/stock/device-2.png"> </div>
            <div class="col-md-5 col-lg-4">
                <div class="switchable__text">
                    <h3>From a blank canvas <br>To SaaS products</h3>
                    <p class="lead"> That is what we do. And we enjoy it. We build products and we use our expertise to build products for our clients.</p>
                    <hr class="short">
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>Launching Sleek CMS...</h1>
                <p class="lead"> At SleekSky we build products. SleekCMS is the first product of our product.</p>
            </div>
        </div>
    </div>
</section>
<section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="cta">
                    <h2>Coming soon...</h2>
                    <p class="lead"> Be the first to be notified and get access</p>
                    <br/>
                    <form class="input-glass"><div class="form-row"><div class="col-md-4 ml-auto mb-4 mb-md-0"><div class="input-group input-group-lg"><div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div><input type="email" name="email" value="" class="form-control" placeholder="Email Address"></div></div><div class="col-md-3 mr-auto"><button type="submit" class="btn btn-block btn-lg btn-primary">Get Early Access</button></div></div></form>
                </div>
            </div>
        </div>
    </div>
</section>