:root {
  --orange: #F7931F;
  --orange: #F7931F;
  --orange-light: #000000;
  --off-purple: #e9e4f5;
  --green: #d5fc6d;
  --green-flu: #d3fc66;
  --white: #ffffff;
  --black: #000;
}

@font-face {
  font-family: "glamour absolute regular";
  font-weight: 300;
  src: url("../fonts/glamour absolute regular.ttf");
}

@font-face {
  font-family: "glamour absolute regular";
  font-weight: 400;
  src: url("../fonts/glamour absolute regular.ttf");
}

@font-face {
  font-family: "glamour absolute regular";
  font-weight: 500;
  src: url("../fonts/glamour absolute regular.ttf");
}

@font-face {
  font-family: "glamour absolute regular";
  font-weight: 600;
  src: url("../fonts/glamour absolute regular.ttf");
}

@font-face {
  font-family: "glamour absolute regular";
  font-weight: 600;
  src: url("../fonts/glamour absolute regular.ttf");
}

html,
body {
  font-size: 20px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "glamour absolute regular", sans-serif;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e9e4f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "glamour absolute regular", sans-serif !important;
}

.sans-serif {
  font-family: "glamour absolute regular", sans-serif;
}

a {
  cursor: hand;
  text-decoration: none;
  color: var(--orange);
}

a:hover {
  color: var(--orange);
}

.a-underline {
  border-bottom: 2px dotted;
}

p {
  color: #F7931F;
  font-size: 19px;
  font-weight: 400;
  line-height: 165%;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 20px;
}

button {
  background: none;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #F7931F;
}

@media (max-width: 556px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 34px !important;
  }
  h3 {
    font-size: 30px !important;
  }
}

/* bootstrap overrides */

.bold {
  font-weight: 600 !important;
}
.text-primary {
  color: var(--green) !important;
}

.text-secondary {
  color: var(--purple) !important;
}

.text-secondary-l {
  color: var(--purple-light) !important;
}

.font-xxs {
  font-size: 0.6rem !important;
}

.font-xs {
  font-size: 0.7rem !important;
}

.font-sm {
  font-size: 0.85rem !important;
}

.font-lg {
  font-size: 1.2rem !important;
}

.font-xl {
  font-size: 1.4rem !important;
}

.text-uppercase {
  letter-spacing: 1px !important;
  text-transform: uppercase;
}

ul {
  padding-left: 1rem;
  list-style-type: disc;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0 !important;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.btn-lg {
  font-size: 20px !important;
  border: 1px solid var(--purple) !important;
  box-shadow: 5px 5px 0 var(--purple);
  border-radius: 40px;
  padding: 0.75rem 1.5rem;
}

.btn-block {
  width: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: var(--purple) !important;
  background: var(--green) !important;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: var(--purple) !important;
}

.btn-outline-primary {
  border: 1px solid var(--green) !important;
  color: var(--green) !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-outline-secondary:hover {
  background: var(--purple);
  color: var(--green);
  border: 1px solid var(--green) !important;
  box-shadow: 5px 5px 0 var(--green);
}

.btn-green-primary,
.btn-green-primary:hover,
.btn-green-primary:active,
.btn-green-primary:hover {
  background: var(--green-flu);
  color: var(--purple);
}

.btn-outline-secondary {
  color: var(--purple);
  border: 1px solid var(--purple) !important;
}

.btn-menu {
  height: 44px;
  border-radius: 44px;
  color: var(--purple) !important;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid var(--purple) !important;
}

/* Navigation */

.navbar-nav {
  z-index: 1;
  position: relative;
}

@media (min-width: 768px) {
  .navbar-nav {
    padding-left: 6rem;
  }
}

.logo-container {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  text-align: center;
  position: absolute;
}

.logo-container a {
  display: inline-block;
  width: 90px;
  height: 40px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  margin-top: 10px;
  z-index: 1000;
  position: relative;
}

/* Shared css */

.page-content {
  padding-top: 59px;
  background-color: #000;
  background-size: cover;
}

.hero {
  padding: 3rem 0 0rem;
}

.hero .section {
  padding-bottom: 1rem;
}

.section {
  padding: 4rem 0;
}

.section-lg {
  padding: 7rem 0;
}

.section-gray {
  background: url("../img/gallery/textura-white.png");
}

.text-dark {
  color: #000 !important;
}

@media (max-width: 556px) {
  .section {
    padding: 2.5rem 0;
  }
  .section-lg {
    padding: 7rem 0;
  }
  .btn {
    font-size: 18px;
  }
  .hero {
    padding: 0rem 0 2rem;
  }
}

.section-white {
  background: #fff url("../img/gallery/textura-white.png");
  background-size: cover;
}

.suscribe-modal {
  position: fixed;
  top: 10vh;
  width: 80vw;
  margin: auto;
  z-index: 4000000;
  left: 0;
  right: 0;
  box-shadow: 10px 0px 30px;
}

.section-purple {
  color: #fff;
  background: var(--purple) url("../img/gallery/textura-purple.png");
}
.section-off-purple {
  color: var(--purple) !important;
  border: 1px solid #603dbd;
  background: var(--off-purple);
}
.section-green {
  color: var(--purple) !important;
  background: var(--green) url("../img/gallery/textura-green.png");
}
.section-green-flu {
  color: var(--purple) !important;
  background: var(--green-flu) url("../img/gallery/textura-green.png");
}

.bg {
  background-image: url("../img/Header.svg");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-p{
  align-items: center;
  width: 606.79px;
  height: 70.79px;


  color: #F7931F;
}

.header-p2{
  width: 559px;
  height: 27px;

  font-family: 'glamour absolute regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  text-align: center;
  text-transform: uppercase;

  color: #F7931F;
}

.header-p3{
  width: 170px;
  height: 26px;

  font-family: 'glamour absolute regular';
  font-style: normal;
  font-weight: 400;
  font-size: 17.0605px;
  line-height: 150%;
  /* identical to box height, or 26px */

  text-align: center;
  text-transform: uppercase;
  color: #F7931F;
}

.section-floating {
  border-radius: 16px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  margin-top: 5rem;
}

@media (max-width: 556px) {
  .section-floating {
    margin-top: 0rem;
  }
}

.btn-floating {
  transition: all ease-in 0.15s;
  border: 2px solid var(--purple) !important;
  box-shadow: 0 5px 0 var(--purple);
}

.btn-floating:hover {
  transform: translate(0, 5px);
  box-shadow: none;
}

/* Navbar */

.navbar {
  min-height: 60px;
}

.navbar-collapse {
  position: relative;
}

.navbar-light .navbar-toggler {
  border: 0;
}

.nav-link {
  color: #F7931F !important;
  font-size: 0.75rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  padding: 16px;
  padding-left: 0.66rem !important;
  padding-right: 0.66rem !important;
}

.nav-link:hover {
  background: #fff;
  border-bottom-color: var(--green);
}

.bg-primary {
  background: var(--green) !important;
}

.footer-social-link {
  display: "block";
  padding: 0.5rem;
}

.text-underline {
  text-decoration: underline;
}

/* Cards */

.form-card {
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.course-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in 0.15s;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.course-card-green {
  background: var(--green);
}
.course-content {
  flex: 1;
  padding: 1rem 1rem 0rem;
}

.course-card:hover {
  transform: translate(0, -5px);
}

.course-card img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.label {
  background: #fff;
  padding: 0.25rem 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
  border-radius: 16px;
  font-weight: 600;
  border: 1px solid var(--purple);
}

.label-primary {
  background: var(--green);
  color: var(--purple);
}

.section-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
}
.section-modal.open {
  display: block;
}

@media (max-width: 768px) {
  .section-modal.open {
    z-index: 1000000;
  }
}

.section-modal-backdrop {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.section-modal-close {
  background: var(--green);
  color: var(--purple);
  position: absolute;
  right: -1rem;
  top: 0;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .section-modal-close {
    right: 0.5rem;
    top: 0.5rem;
  }
}

.section-modal-content {
  position: absolute;
  left: 5vw;
  top: 5vw;
  bottom: 5vw;
  right: 5vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.section-modal-content > div {
  padding: 1rem;
  /* min-height: 100%; */
}

.section-modal-video {
  width: 100%;
  height: 580px;
}

@media (max-width: 768px) {
  .section-modal-content > div {
    padding: 1.5rem;
  }

  .section-modal-video {
    height: 300px;
  }
}

.masonry-container {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}

@media (max-width: 1000px) {
  .masonry-container {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  .masonry-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  .masonry-container {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.masonry-container div {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 0.5rem;
}

.masonry-container img {
  display: block;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 1px solid #8158e8;
}

.boxed-bullet {
  background: #e9e4f5;
  border: 1px solid #603dbd;
  box-shadow: 5px 5px 0 #603dbd;
  padding: 0.5rem;
  font-size: 18px;
  margin: 0.33rem;
}

@media (min-width: 769px) {
  .boxed-bullet {
    white-space: nowrap;
  }
}

.boxed-bullet-white {
  background: var(--white);
  border: 1px solid #603dbd;
  padding: 0.5rem;
  font-size: 18px;
  white-space: nowrap;
  margin: 0.33rem;
}
.boxed-bullet-green {
  background: var(--green-flu);
  border: 1px solid #603dbd;
  padding: 0.5rem;
  font-size: 18px;
  white-space: nowrap;
  margin: 0.33rem;
}
.light {
  background: #fff !important;
  box-shadow: 5px 5px 0 #d5fc6d !important;
  box-shadow: none !important;
}

.boxed-bullet .green {
  background: var(--green) !important;
  box-shadow: 5px 5px 0 #d5fc6d !important;
  box-shadow: none !important;
}

.card {
  background: #fff;
  border: 1px solid #603dbd;
  box-shadow: 5px 5px 0 #603dbd;
  padding: 1rem;
  font-size: 18px;
  border-radius: 0;
}

.card-purple {
  background: var(--purple);
  border: 1px solid var(--green);
  box-shadow: 5px 5px 0 var(--green);
}

.blog-content p {
  font-size: 24px;
}

.curso-video-iframe {
  padding-left: 2rem;
}

.image-stroke-purple {
  border-radius: 20px;
  border: 1px solid #603dbd;
  box-shadow: 0.66rem 0.66rem 0 #603dbd;
}

.image-stroke-green {
  border-radius: 20px;
  border: 1px solid #603dbd;
  box-shadow: 0.66rem 0.66rem 0 #d5fc6d;
}

.about-number {
  font-size: 40px;
}

.about-number img,
.about-number svg {
  margin: 8px;
}

.carousel .control-arrow::before,
.carousel .control-prev.control-arrow::before {
  border-left-color: var(--purple) !important;
}

.carousel .control-prev.control-arrow::before {
  border-right-color: var(--purple) !important;
}

.carousel .control-dots .dot {
  background: var(--purple) !important;
  box-shadow: none !important;
}

.flex-1 {
  flex: 1;
}

.top-disclaimer {
  background: var(--green);
  padding: 0.75rem;
  font-size: 0.8rem;
  text-align: center;
}

.whats-floating {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  background: #603dbd;
  border-top-left-radius: 20px;
  padding: 0.5rem;
}

.whats-floating img {
  width: 54px;
}

.headerStyles {
  background: "#fff";
  border-bottom: "1px solid #ccc";
  position: "fixed";
  top: 0;
  width: "100%";
  z-index: 1000000;
}

.p {
  padding: 0;
  padding-left: 30%;
}

.full-width {
  width: 100%
}

.slider-transform {
  transform: translate3d(-200%, 0px, 0px); 
  transition-duration: 350ms;
}

.margin-le {
  margin-left: "2rem"
}

.p-btn {
  padding-right: 2rem;
}

.carousel-control-prev, .carousel-control-next{
  height: 6vh;
  width: 6vh;
  top:50%;
  border-radius: 50%;
  right: 0;
}

.carousel-control-next-icon {
  background-color: #8158e8;
}

.carousel-control-prev-icon {
  background-color: #8158e8;
}

.carousel-control-next span,
.carousel-control-prev span{
  width: 1.5rem;
  height: 1.5rem;
}

.footerbg{
  background-color: #000;
}

.ticketbutton {
  background-image: url("../img/ticket.svg");
}
.about-i {
  background-image: url("../img/about.jpg");
}