<section class="section">
    <div class="container">

      <div class="row gap-y" style="display: flex; align-items: stretch;">


        <div class="w-100"></div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark mr-5"><img src="../../img/stock/focused.svg" alt="img"></div>
            <div class="media-body">
              <h5>Focused Scope</h5>
              <p>Concentrate on the core features and functionality that deliver the most value to users, while minimizing non-essential elements.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-primary mr-5"><img src="../../img/stock/rapid.svg" alt="img"></div>
            <div class="media-body">
              <h5>Rapid Prototyping</h5>
              <p>Quickly develop and iterate functional prototypes to validate ideas, gather feedback, and refine the product concept.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-info mr-5"><img src="../../img/stock/timecost.svg" alt="img"></div>
            <div class="media-body">
              <h5>Time and Cost Efficiency</h5>
              <p>Accelerate development timelines and minimize costs by prioritizing essential features and leveraging lean methodologies.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-warning mr-5"><img src="../../img/stock/User-centric.svg" alt="img"></div>
            <div class="media-body">
              <h5>User-Centered Design</h5>
              <p>Emphasize user experience and feedback to ensure the MVP meets user needs, expectations, and preferences.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-danger mr-5"><img src="../../img/stock/flexibility.svg" alt="img"></div>
            <div class="media-body">
              <h5>Flexibility and Adaptability</h5>
              <p>Maintain a nimble development process, ready to pivot or iterate based on user feedback and changing market conditions.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-success mr-5"><<img src="../../img/stock/escalable.svg" alt="img"></div>
            <div class="media-body">
              <h5>Scalable Foundation</h5>
              <p>Design the MVP with a scalable architecture to facilitate seamless expansion and feature enhancements in future development phases.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

    <header class="header text-white" style="background-image: url(../assets/img/bg/1.jpg);" data-overlay="6">
        <div class="container text-center">

          <div class="row">
            <div class="col-md-8 mx-auto">

              <h1>Our process</h1>
              <p class="lead-2 opacity-90 mt-6">Our focus is to build an agile architecture with an understading of the nuances of scale</p>

            </div>
          </div>

        </div>
      </header><!-- /.header -->

      <section class="section">
        <div class="container">
      <div class="row gap-y" style="display: flex; align-items: stretch;">

        <div class="col-lg-4" style="display: flex; align-items: stretch;">
          <div class="card card-body border">
            <h6 class="card-title">Ideation & Prioritization</h6>
            <p class="small-1">Identify the core features and functionality that address the target users' primary needs, focusing on delivering maximum value with minimal resources.</p>
          </div>
        </div>


        <div class="col-lg-4" style="display: flex; align-items: stretch;">
          <div class="card card-body border">
            <h6 class="card-title">Rapid Prototyping & Design</h6>
            <p class="small-1">Create functional prototypes and user interfaces that incorporate the prioritized features, emphasizing usability and user experience.</p>
          </div>
        </div>


        <div class="col-lg-4" style="display: flex; align-items: stretch;">
          <div class="card card-body border">
            <h6 class="card-title">Agile Development</h6>
            <p class="small-1">Implement the MVP using lean methodologies and iterative development practices, enabling flexibility and quick adaptation to feedback.</p>
          </div>
        </div>

        <div class="col-lg-4" style="display: flex; align-items: stretch;">
            <div class="card card-body border">
              <h6 class="card-title">Continuous Testing & Validation</h6>
              <p class="small-1">Test and validate the MVP throughout the development process, addressing any issues and ensuring functionality, usability, and performance.</p>
            </div>
          </div>
  
  
          <div class="col-lg-4" style="display: flex; align-items: stretch;">
            <div class="card card-body border">
              <h6 class="card-title">User Feedback & Iteration</h6>
              <p class="small-1">Launch the MVP to a select user base, gather feedback, and iterate on the product to refine its features, design, and overall user experience.</p>
            </div>
          </div>
  
  
          <div class="col-lg-4" style="display: flex; align-items: stretch;">
            <div class="card card-body border">
              <h6 class="card-title">Evaluation & Next Steps</h6>
              <p class="small-1">Assess the MVP's performance, user feedback, and market response to inform future development decisions, such as scaling, pivoting, or adding new features.</p>
            </div>
          </div>
  
        </div>
    </div>
  </section>