<section class="section">
    <div class="container">

      <div class="row gap-y" style="display: flex; align-items: stretch;">


        <div class="w-100"></div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark mr-5"><img src="../../img/stock/Cross-functional.svg" alt="img"></div>
            <div class="media-body">
              <h5>Cross-Functional Expertise</h5>
              <p>Agile POD teams bring together diverse skill sets, including development, design, QA, and product management, to efficiently deliver end-to-end product solutions.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-primary mr-5"><img src="../../img/stock/enhancedcollab.svg" alt="img"></div>
            <div class="media-body">
              <h5>Enhanced Collaboration</h5>
              <p>Agile POD teams foster a highly collaborative environment, with members working closely together to share ideas, knowledge, and expertise, driving innovation and problem-solving.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-info mr-5"><img src="../../img/stock/rapidproduct.svg" alt="img"></div>
            <div class="media-body">
              <h5>Rapid Product Delivery</h5>
              <p>Agile POD teams are designed to accelerate product development and delivery, ensuring faster time-to-market and quicker response to changing business needs.
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-warning mr-5"><img src="../../img/stock/streamlined.svg" alt="img"></div>
            <div class="media-body">
              <h5>Streamlined Communication</h5>
              <p>The smaller, focused nature of Agile POD teams allows for more efficient communication and decision-making, reducing bottlenecks and improving project execution.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-danger mr-5"><img src="../../img/stock/continuosimp.svg" alt="img"></div>
            <div class="media-body">
              <h5>Continuous Improvement</h5>
              <p>Agile POD teams follow iterative development processes and prioritize regular feedback, enabling continuous learning, adaptation, and improvement throughout the project lifecycle.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4" style="display: flex; align-items: stretch;">
          <div class="media">
            <div class="lead-6 line-height-1 text-success mr-5"><img src="../../img/stock/clearaccount.svg" alt="img"></div>
            <div class="media-body">
              <h5>Clear Accountability</h5>
              <p>With a product-oriented focus, Agile POD teams have a strong sense of ownership and accountability for the product's success, ensuring alignment with project objectives and stakeholder expectations.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
