<header class="header bg-gray pt-10 pb-01">
    <div class="container text-center">
      <h1 class="display-4">Front-end Development</h1>
      <p class="lead-2 mt-6">We are experts at building snappy, intuitive, large front-end web interfaces</p>
    </div>
  </header><!-- /.header -->
