<section class="section">
    <div class="container">

      <div class="row gap-y">


        <div class="w-100"></div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark mr-5"><img src="../../img/stock/frontend.svg" alt="img"></div>
            <div class="media-body">
              <h5>Cutting-Edge Technologies</h5>
              <p>Harness the power of the latest front-end technologies to create modern, future-proof solutions.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-primary mr-5"><img src="../../img/stock/responsive.svg" alt="img"></i></div>
            <div class="media-body">
              <h5>Responsive and Adaptive Design</h5>
              <p>Experience seamless viewing across all devices with optimized, device-agnostic designs.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-info mr-5"><img src="../../img/stock/User-centric.svg" alt="img"></i></div>
            <div class="media-body">
              <h5>User-Centric Approach</h5>
              <p>Benefit from intuitive, visually appealing interfaces that drive user satisfaction and boost conversion rates.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-warning mr-5"><img src="../../img/stock/Performance-Optimization.svg" alt="img"></i></div>
            <div class="media-body">
              <h5>Performance Optimization</h5>
              <p>Enjoy lightning-fast websites and applications with best-in-class optimization techniques.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-danger mr-5"><img src="../../img/stock/SeamlessIntegration.svg" alt="img"></i></div>
            <div class="media-body">
              <h5>Seamless Integration</h5>
              <p>Achieve smooth interoperability and cohesive end-to-end solutions through API layer abstraction for back-end integration.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-success mr-5"><img src="../../img/stock/Customized-solutions.svg" alt="img"></div>
            <div class="media-body">
              <h5>Customized Solutions</h5>
              <p>Elevate your business with tailor-made front-end development designed to align with your unique goals and objectives.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="section">
    <div class="container">
      <header class="section-header">
        <h2>The startup way</h2>
        <hr>
        <p class="lead">We optimize for quick launches, rapid iterations, and user feedback </p>
      </header>


      <div class="row align-items-center">

        <div class="col-lg-6">
          <div class="video-btn-wrapper">
            <img class="shadow-4 rounded-lg" src="../assets/img/thumb/6.jpg" alt="watch a video">
            <a class="btn btn-circle btn-xl btn-info" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play"></i></a>
          </div>
        </div>

        <div class="col-lg-6">
          <ol class="step">
            <li class="step-item">
              <div class="step-icon">
                <span class="iconbox">1</span>
              </div>

              <div class="step-content">
                <h6><strong>Rapid Ideation & Prototyping</strong></h6>
                <p>Generate design concepts and create interactive prototypes to validate core features for an MVP.</p>
              </div>
            </li>

            <li class="step-item">
              <div class="step-icon">
                <span class="iconbox">2</span>
              </div>

              <div class="step-content">
                <h6><strong>Incremental Development & Optimization</strong></h6>
                <p>Implement features in sprints, optimizing code and maintaining flexibility for improvements.</p>
              </div>
            </li>

            <li class="step-item">
              <div class="step-icon">
                <span class="iconbox">3</span>
              </div>

              <div class="step-content">
                <h6><strong>Continuous Testing & Feedback</strong></h6>
                <p>Engage in ongoing testing and user feedback to drive data-driven enhancements and adapt to changing needs.</p>
              </div>
            </li>
          </ol>
        </div>

      </div>
    </div>
  </section>