<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SleekSky | <%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/sleeksky-logo.ico">
        <!-- Styles -->
        <link href="/css/page.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/custom-style.css" rel="stylesheet">
    </head>
    <body data-smooth-scroll-offset="77">