<footer class="footer py-7">
    <div class="container">
      <div class="row gap-y">

        <div class="col-md-6 col-xl-3">
          <p><a href="#"><img src="../../img/stock/sleeksky-logo.png" alt="logo"></a></p>
          <p>We are a select group of developers, engineers, creatives. We take pride in what we build.</p>
        </div>

        <div class="col-6 col-md-4 col-xl-3">
          <h6 class="mb-4 mt-1"><strong>Services</strong></h6>
          <div class="nav flex-column">
            <a class="nav-link" href="/services/front-end-development">Front-end Development</a>
            <a class="nav-link" href="/services/back-end-development">Back-end Development</a>
            <a class="nav-link" href="/services/full-stack-development">Full Stack Development</a>
            <a class="nav-link" href="/services/startup-mvp-development">Startup / MVP Development</a>
            <a class="nav-link" href="/services/enterprise-development">Enterprise Solutions</a>
  </div>
        </div>

        <div class="col-6 col-md-3 col-xl-2">
          <h6 class="mb-4 mt-1"><strong>&nbsp;</strong></h6>
          <div class="nav flex-column">
            <a class="nav-link" href="/services/ui-ux-design">UI/UX Design</a>
            <a class="nav-link" href="/services/qa-testing-services">QA & Testing Services</a>
            <a class="nav-link" href="/services/in-sourced-teams">In-sourced Teams</a>
            <a class="nav-link" href="/services/nearshore-teams">Nearshore Teams</a>
            <a class="nav-link" href="/services/agile-pod-teams">Agile POD Teams</a>
  </div>
        </div>

        <div class="col-6 col-md-3 col-xl-2">
            <h6 class="mb-4 mt-1"><strong>About Us</strong></h6>
            <div class="nav flex-column">
              <a class="nav-link" href="#">Who We Are</a>
              <a class="nav-link" href="#">Our Team</a>
              <a class="nav-link" href="#">Philosophy</a>
              <a class="nav-link" href="#">How We Work</a>
            </div>
          </div>

          <div class="col-6 col-md-6 col-xl-2 text-center">
          <p><a class="btn btn-light btn-success btn-outline-light" href="#" data-toggle="modal" data-target="#modal-contact-1">Get in touch</a></p>
          <br>
          <div class="social social-bordered">
            <a class="social-facebook" href="#"><img class="icon-boder" src="../../img/stock/facebook-logo.svg" alt="img"></a>
            <a class="social-twitter" href="#"><img class="icon-boder" src="../../img/stock/instagram-logo.svg" alt="img"></a>
            <a class="social-youtube" href="#"><img class="icon-boder" src="../../img/stock/twitter-logo.svg" alt="img"></a>
            <a class="social-instagram" href="#"><img class="icon-boder" src="../../img/stock/youtube-logo.svg" alt="img"></a>
          </div>
        </div>

      </div>
    </div>
  </footer>