<footer class="section section-purple text-center">
  <div class="mb-3">
    <img
      alt="La Hora Sat"
      width="100"
      src="../img/gallery/logo-footer.svg"
      class="inline-block" 
    />
  </div>
  <div class="my-3">
    Contáctanos: <br />
    <a href="mailto:hola@lahorasat.com" class="text-light">hola@lahorasat.com</a>
  </div>
  <div class="d-flex mb-3 justify-content-center">
    <a
      target="_blank"
      class="footer-social-link"
      href="https://www.instagram.com/lahorasat/"
    >
      <img src="../img/gallery/ig.svg" />
    </a>
    <a
      target="_blank"
      class="footer-social-link"
      href="https://twitter.com/lahorasat"
    >
      <img src="../img/gallery/twitter.svg" />
    </a>
    <a
      target="_blank"
      class="footer-social-link"
      href="https://www.facebook.com/profile.php?id=100063771390136"
    >
      <img src="../img/gallery/fb-logo.svg" />
    </a>
    <a
      target="_blank"
      class="footer-social-link"
      href="https://www.youtube.com/channel/UC4oXv1xgGoPSxiFni7xVUWQ"
    >
      <img src="../img/gallery/youtube-icon.svg" />
    </a>
    <a
      target="_blank"
      class="footer-social-link"
      href="https://www.linkedin.com/company/79887276"
    >
      <img src="../img/gallery/linkedin-icon.svg" />
    </a>
  </div>
  © 2021 La Hora Sat. Todos los derechos reservados.
  <br /><br />
  <div class="d-flex justify-content-center">
    <a
      to="/terminos-y-condiciones" class="text-light font-xs text-underline p-3 d-block ">
      Términos y Condiciones
    </a>
    <a
      to="/aviso-de-privacidad" class="text-light font-xs text-underline p-3 d-block">
      Aviso de Privacidad
    </a>
  </div>
</footer>