<footer class="section footerbg text-center">
  <nav class="navbar navbar-expand-lg navbar-light p">
    <div class="container">
      <div class="d-lg-none">
        <a class="navbar-brand d-flex" href="/">
          <img alt="PLVRAL" width="100" src="../img/footer-logo.svg">
        </a>
      </div>
      <button class="navbar-toggler p-btn" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="d-flex navbar-nav me-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link" activeClass="active">
              Music
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" activeClass="active" href="/">
              Shows
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" activeClass="active" href="/">
              About
            </a>
          </li>
        </ul>
        <div class="logo-container d-none d-lg-block">
          <a aria-current="page" class="" href="/">
            <img alt="La Hora Sat" width="90" src="../img/Logo-plural-menu.svg">
          </a>
        </div>
      </div>
    </div>
  </nav>
</footer>