<nav class="navbar navbar-expand-lg navbar-<%=(page.navColor ? page.navColor : 'dark')%> navbar-stick-dark" data-navbar="sticky">
  <div class="container">
    <div class="navbar-left">
      <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
      <a class="navbar-brand" href="/">
        <img class="logo-dark" src="../../img/stock/sleeksky-logo.png" alt="logo" />
        <img class="logo-light" src="../../img/stock/sleeksky-logo.png" alt="logo" />
      </a>
    </div>

    <section class="navbar-mobile">
      <span class="navbar-divider d-mobile-none"></span>

      <ul class="nav nav-navbar">
        <li class="nav-item nav-mega">
          <a class="nav-link" href="#">Services <span class="arrow"></span></a>
          <nav class="nav px-lg-2 py-lg-4">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg">
                  <nav class="nav flex-column">
                    <a class="nav-link" href="/services/front-end-development">Front-end Development</a>
                    <a class="nav-link" href="/services/back-end-development">Back-end Development</a>
                    <a class="nav-link" href="/services/full-stack-development">Full Stack Development</a>
                    <a class="nav-link" href="/services/startup-mvp-development">Startup / MVP Development</a>
                    <a class="nav-link" href="/services/enterprise-development">Enterprise Solutions</a>
                  </nav>
                </div>

                <div class="col-lg">
                  <nav class="nav flex-column">
                    <a class="nav-link" href="/services/ui-ux-design">UI/UX Design</a>
                    <a class="nav-link" href="/services/qa-testing-services">QA & Testing Services</a>
                    <a class="nav-link" href="/services/in-sourced-teams">In-sourced Teams</a>
                    <a class="nav-link" href="/services/nearshore-teams">Nearshore Teams</a>
                    <a class="nav-link" href="/services/agile-pod-teams">Agile POD Teams</a>
                  </nav>
                </div>
              </div>
            </div>
          </nav>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/case-studies">Case Studies</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About Us <span class="arrow"></span></a>
          <nav class="nav">
            <a class="nav-link" href="/about">Who We Are</a>
            <a class="nav-link" href="/about">Our Team</a>
            <a class="nav-link" href="/about">Philosophy</a>
            <a class="nav-link" href="/about">How We Work</a>
            <a class="nav-link" href="/about">Contact Us</a>
          </nav>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/blog">Insights</a>
        </li>
      </ul>
    </section>
    <a class="btn btn-xs btn-round btn-success" href="#" data-toggle="modal" data-target="#modal-contact-1">Get in touch</a>
  </div>
</nav>
