<header style="background:#ffffff00;border-bottom:1px solid #cccccc00;position:fixed;top:0;width:100%;z-index:1000000"
  class="sticky">
  <nav class="navbar navbar-default navbar-expand-lg p navbar-light">
    <div class="container">
      <div class="d-lg-none">
        <a class="navbar-brand d-flex" href="/">
          <img alt="PLVRAL" width="100" src="../img/Logo-plural-menu.svg">
        </a>
      </div>
      <button class="navbar-toggler p-btn" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="d-flex navbar-nav me-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="/music" class="nav-link" activeClass="active">
              Music
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" activeClass="active" href="/shows">
              Shows
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" activeClass="active" href="/about">
              About
            </a>
          </li>
        </ul>
        <div class="logo-container d-none d-lg-block">
          <a aria-current="page" class="" href="/">
            <img alt="La Hora Sat" width="90" src="../img/Logo-plural-menu.svg">
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!--{/* <a
    href={'https://wa.me/' + whatsappNumber}
    target="_blank"
    className="whats-floating"
  >
    <img src={Whats} />
  </a> */}-->
</header>
<script>
  $(document).ready(function () {
    // Get the current URL path
    var path = window.location.pathname;

    // Loop through each navbar link
    $('.nav-link').each(function () {
      var href = $(this).attr('href');

      // Check if the link's URL matches the current path
      if (path === href) {
        $(this).addClass('active'); // Add the active class
      }
    });
  });
</script>