
<section class="section text-white p-0" style="background-color: #33323a;">
    <div class="container-wide">
      <div class="row no-gutters">

        <div class="col-md-4 bg-img" style="background-image: url(/img/stock/ole-witt-u-cNnez5lTg-unsplash.jpg); min-height: 300px;"></div>

        <div class="col-md-8 p-6 p-md-8">
          <h4>From The Founder</h4>
          <p class="lead">We bring rich experience in developing quality web software and building high performant teams. We have scaled start-ups to success, led large teams in global organizations. We are professionals and we know our craft, well.</p>
          <p>We established SleekSky to provide assimilation of our decades of experience and expertise to our customers. We are your partners and we succeed when you succeed. Give us a try, we will take you farther!</p>
        </div>

      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row gap-y">

        <div class="col-md-3 mr-md-auto">
          <p class="lead-4 text-right">Your product vision<br/>realized</p>
        </div>

        <div class="col-md-4">
          <h6>Our Mission</h6>
          <p>To simplify the process of making our customers product vision come to life.
            And to leverage our extensive experience to help expand that vision
            and deliver delight.</p>
        </div>

        <div class="col-md-4">
          <h6>Our Vision</h6>
          <p>Decouple software entrepreneurship from software development. Enable rapid product launches and iterations to solve larger and deeper customer problems.</p>
        </div>

      </div>
    </div>
  </section>
  <%- include('team')  %>
