<section class="section bg-gray">
  <div class="container">
    <div class="row gap-y">
      <div class="col-md-6 col-lg-4">
        <div class="card d-block border hover-shadow-6 mb-6">
          <a href="/blog/when-remote-teams"><img class="card-img-top" src="/img/stock/remote-work-tn.svg" alt="Card image cap"></a>
          <div class="p-6 text-center">
            <p><a class="small-5 text-lighter text-uppercase ls-2 fw-400" href="#">Product</a></p>
            <h5 class="mb-0"><a class="text-dark" href="#">Five must-haves for remote teams to be effective</a></h5>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card d-block border hover-shadow-6 mb-6">
          <a href="/blog/outsourcing-effective"><img class="card-img-top" src="/img/stock/outsourcing-tn.svg" alt="Card image cap"></a>
          <div class="p-6 text-center">
            <p><a class="small-5 text-lighter text-uppercase ls-2 fw-400" href="#">Product</a></p>
            <h5 class="mb-0"><a class="text-dark" href="#">Outsourcing tips for startup founders</a></h5>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card d-block border hover-shadow-6 mb-6">
          <a href="/blog/saas-hats"><img class="card-img-top" src="/img/stock/6661-saas-hats-perview.svg" alt="Card image cap"></a>
          <div class="p-6 text-center">
            <p><a class="small-5 text-lighter text-uppercase ls-2 fw-400" href="#">Product</a></p>
            <h5 class="mb-0"><a class="text-dark" href="#">18 hats you must wear to build a SaaS product</a></h5>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card d-block border hover-shadow-6 mb-6">
          <a href="/blog/saas-speed"><img class="card-img-top" src="/img/stock/17876166-ai-preview.svg" alt="Card image cap"></a>
          <div class="p-6 text-center">
            <p><a class="small-5 text-lighter text-uppercase ls-2 fw-400" href="#">Product</a></p>
            <h5 class="mb-0"><a class="text-dark" href="#">Building SaaS? - Avoid these speedbumps</a></h5>
          </div>
        </div>
      </div>  
      
      <div class="col-md-6 col-lg-4">
        <div class="card d-block border hover-shadow-6 mb-6">
          <a href="/blog/technology-stack"><img class="card-img-top" src="/img/stock/jametlene-reskp-WiHrohmLYL8-unsplash-preview.jpg" alt="Card image cap"></a>
          <div class="p-6 text-center">
            <p><a class="small-5 text-lighter text-uppercase ls-2 fw-400" href="#">Product</a></p>
            <h5 class="mb-0"><a class="text-dark" href="#">Five thoughts on picking the right technology stack</a></h5>
          </div>
        </div>
      </div>  
      
      <div class="col-md-6 col-lg-4">
        <div class="card d-block border hover-shadow-6 mb-6">
          <a href="/blog/sleeksky-pod-teams"><img class="card-img-top" src="https://images.unsplash.com/photo-1510759591315-6425cba413fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=350&h=246&q=80" alt="Card image cap"></a>
          <div class="p-6 text-center">
            <p><a class="small-5 text-lighter text-uppercase ls-2 fw-400" href="#">Product</a></p>
            <h5 class="mb-0"><a class="text-dark" href="#">Why hire SleekSky Product Oriented Delivery (POD) teams</a></h5>
          </div>
        </div>
      </div>
         
    </div>
  </div>
</section>
