
<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <article>
                    <div class="article__title text-center"><h1 class="h2">18 hats you must wear to build a SaaS product
                    </h1></div>
                    <div class="article__body"> 
                        <img alt="Image" src="/img/stock/2759-ai-18-roles.svg">
                        <p>A SaaS product might seem like just some software/code. If you just had the time to code or find that rockstar developer/coder, you would have realized your product vision.</p>
                        <p>Having first-hand exposure to the spectrum of skill sets required to build a SaaS product, we understand that it does take a village to build a SaaS. Below we try to provide some insights into 18 typical skills/roles/hats you may need to wear/hire to bring your product vision come to life.</p>
                        <p>Although individuals could wear multiple hats here, these are distinct skill sets. Any large enough organization will have separate individuals or teams responsible for each.</p>
                        <ol>
                            <li>
                                <b>Graphic designer</b><br/>
                                They help design your brand by focusing on the logo, icon styles, color palettes, typography, grid spacing, and the overall design system. They make a real difference in making your product stand out and look professional.
                            </li>
                            <li>
                                <b>Interaction designer</b><br/>
                                Low fidelity wireframes, flow designs, and interaction design require broad experience in UI design, product domain, and your customers in getting it right. These designs can have a long-term effect on your product's overall usability and experience. It also drives, in many ways, the underlying architecture details.
                            </li>
                            <li>
                                <b>System architect</b><br/>
                                If you were rebuilding your home, would you hire an architect or a handyman to design and plan that? Likewise, a SaaS product requires an experienced architect to understand your product vision, roadmap, and customers and to iteratively build a system that can evolve as your business grows.
                            </li>
                            <li>
                                <b>Database architect</b><br/>
                                How your underlying data is stored and accessed impacts everything from API designs, UI flows, scalability, reliability, and infrastructure costs. There are subtle decisions in designing the data layer that sets the capability ceilings of your product. It also impacts the speed of product change iterations since database migrations and schema versioning is typically the bottlenecks in moving fast.
                            </li>
                            <li>
                                <b>Frontend architect</b><br/>
                                There is a big difference in UI architecture when building a to-do app versus an app such as Asana or Google docs. The underlying technology might still be the same, say either React or Angular, but architecting the frontend code can be very different.
                            </li>
                            <li>
                                <b>Frontend designer</b><br/>
                                An often overlooked but crucial skill when building UI is the ability to create layouts and CSS styles based on design systems that are flexible, responsive, and modular. Organizing and structuring CSS is probably the most underestimated skill that most frontend engineers dread or outright avoid. Every good frontend team needs someone who excels at these skills and manages this layer of the frontend.
                            </li>
                            <li>
                                <b>Frontend developer</b><br/>
                                They are the heroes of every sprint, every feature. Here is where the product starts showing up. Frontend code is typically monolithic and massive. Making iterative changes in these 100's thousands of lines of code requires, other than a deep understanding of the frontend stack, also a bit of courage.
                            </li>
                            <li>
                                <b>Android developer</b><br/>
                                Mobile native apps may not be required when you build your MVP, but eventually, a good presence on mobile platforms is necessary for any product.
                            </li>
                            <li>
                                <b>iOS developer</b><br/>
                                Developing on iOS has enough differences and complexities to require someone explicitly experienced on that platform to build anything significant.
                            </li>
                            <li>
                                <b>Backend developer</b><br/>
                                Good full-stack developers exist but are very hard to find. As you can see here, the stack is quite nested. Nevertheless, a good developer should be able to build across both frontend and backend for relatively simple applications. But if your SaaS product goes beyond simple, this layer does require lots of experience with RESTful APIs, Asynchronous tasks, Queues, Cloud APIs, and database ORMs to make it right.
                            </li>
                            <li>
                                <b>Product manager</b><br/>
                                Consider any SaaS product, and we instantly can notice its designs and how it flows. For the product to get there, thousands of micro-decisions are involved. We do not see the infinite ways the outcome could have been different. The product manager helps navigate through these 1000s of crossroads and decisions. Along with the project manager, they are the glue that keeps the development process together.
                            </li>
                            <li>
                                <b>Project manager</b><br/>
                                As soon as your team grows beyond three people, juggling the tasks, priorities, schedules, issues, and blockers can become too overwhelming and require someone experienced to manage that.
                            </li>
                            <li>
                                <b>QA Manager</b><br/>
                                The need for QA is not much visible when building an MVP, single-tenant systems, or internal tools. But when you are iterating a multi-tenant SaaS system with lots of customers using it, QA becomes the heart of how your product moves forward. Managing this often misunderstood function requires a deep understanding of the development process.
                            </li>
                            <li>
                                <b>QA Engineer - Manual</b><br/>
                                Manual QA is unavoidable and necessary to add reliability to any development process. The number of test paths in any multi-tenant system with feature flags is enormous. To test every possible combination with unit tests and automation may not be feasible. Dedicated manual testers develop an intuition over time about the problem areas and user flows and can help identify deeper issues before the end users see them.
                            </li>
                            <li>
                                <b>QA Engineer - Automation</b><br/>
                                Though it may not be comprehensive, QA automation significantly reduces application downtimes and helps improve your SLAs. It can be expensive since 80% of work involves catching up with product changes, thus increasing overall costs.
                            </li>
                            <li>
                                <b>DevOps</b><br/>
                                There are many functions and definitions of DevOps. CI/CD, releases, monitoring, scaling, and infrastructure management, to name a few. As the product and its user base grow, so does the footprint of the infrastructure. Pretty soon, you will need dedicated expertise to manage this critical function of the product.
                            </li>
                            <li>
                                <b>Website designer</b><br/>
                                The marketing website design styles can be much different than app design. Designers who specialize in websites can make a big difference with the first impressions of your product and company.
                            </li>
                            <li>
                                <b>Website developer</b><br/>
                                Websites' tech-stack has deviated much from web applications over the years. The skills required and processes followed are also quite different. WordPress, Headless CMS, PHP, and jQuery are a few primary tools used for building websites.
                            </li>
                        </ol>
                        <br/>
                        <p><i>Here at SleekSky, we have had a lot of success working with startup founders and SaaS product development and are happy to consult or answer any questions you may have about hiring a development partner. Please reach out to us, and we will be glad to <a href="https://calendly.com/sleeksky/discovery">schedule a call</a> and discuss.</i>
                        </p>
                    </div>

                </article>
            </div>
        </div>
    </div>
</div>