<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <article>
                    <div class="article__title text-center"><h1 class="h2">SleekSky Product Oriented Delivery (POD) teams
                    </h1></div>
                    <div class="article__body"> 
                        <div class="text-center"><img alt="Image" src="https://images.unsplash.com/photo-1510759591315-6425cba413fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=640&h=427&q=80"></div>
                        <br/>
                        <p>SleekSky POD teams are an alternative model of outsourcing software development. We adopted the POD model as it is a better fit for outsourcing development of new products and for startups.</p>
                        <h3>Pitfalls of typical outsourcing</h3>
                        <p>
                            
                            A typical software outsourcing project follows one of the following engagement models -
                            <ol>
                               <li>Time and materials</li> 
                               <li>Fixed price</li>
                            </ol>
                        </p>
                        <p>
                            Though these are tried and tested models, they often don’t work well for new product development or startups. The main reasons are - 
                            <ol>
                                <li>They require precise specifications of the software being built</li>
                                <li>By pricing based on hours, it assumes effort and outcome to be linear. That in effect optimizes processes towards making it linear.</li>
                            </ol>
                        </p>
                        <p>
                            Although software quality can be measured using various tools, there is no tool to measure architecture and design quality. The debates around these are endless, and the context varies a lot.
                        </p>
                        <p>
                            When you hire developers by the hour, the incentives are not aligned for creativity. The subconscious automatically suppresses any creativity that will enable them to build something in a fraction of the time using some new algorithm or logic. The mind then works towards ways that try to make effort-outcome linear.
                        </p>
                        <p>
                            Here are a few non-linear ways of speeding development that typical outsourcing models cannot incentivize and organization culture discourages -
                        </p>
                        <p>
                            <ul>
                                <li>Helping peers in other similar projects</li>
                                <li>Reusing code patterns and techniques, copy-pasting</li>
                                <li>Researching tools and techniques that might eliminate the need for some development</li>
                                <li>Simplifying architecture and design</li>
                            </ul>
                        </p>
                        <h3>Why startups beat large corporations</h3>
                        <p>While working at numerous startups, we experienced a completely different model of development where effort-outcome was non-linear. Here the teams did not care about hours. They cared about building a great product for their customers. The goal was not to use every hour but to build something good.
                        </p>
                        <p>It required discarding code and redoing it, often multiple times, till we got it right. It required tenaciously attacking technical debt and improving existing code. It's where developers got together to discuss how to simplify things and work hard towards that.</p>
                        <p>It also required understanding customers. Questioning features, their utility, and alternatives that keep things simple. This is where developers are not developers of code, but developers of the product.</p>
                        <p>The resulting product and system are impossible to achieve using a typical development outsourcing model. The efficiencies over the long run were significant.</p>
                        <h3>SleekSky POD model of delivery</h3>
                        <p>We designed our POD model of delivery so we can provide the best of both worlds. An outsourced model of development that delivers with the speed and agility of a startup. And to bring the efficiencies and ways of a successful startup team to companies ranging from early-stage startups to large enterprises.</p>
                        <p>We built our expertise in developing web applications and web-based SaaS products. By focusing on a niche, all our teams can leverage the learnings from one another to build products faster and better.</p>
                        <p>They share best practices on what works and what does not work and iteratively bring those improvements to their respective teams. This leverages our expertise across our organization to help other teams build faster and better.</p>
                        <p>By assembling teams consisting of both dedicated and specialized engineers, we can efficiently navigate the changing landscape of skillsets required as the development progresses from bootstrapping to product market fit, customer onboarding, scale, and support.</p>
                        <p>Engineers love being involved in a creative process rather than filling timesheets. They become the consumers of their code, incentivizing them to improve its quality further. As the synergy of the team and the larger organization kicks in, development becomes like magic for our customers.</p>
                        <br/>
                        <p><i>Here at SleekSky, we have had a lot of success working with startup founders and SaaS product development and are happy to consult or answer any questions you may have about hiring a development partner. Please reach out to us, and we will be glad to <a href="https://calendly.com/sleeksky/discovery">schedule a call</a> and discuss.</i>
                        </p>
                    </div>

                </article>
            </div>
        </div>
    </div>
</div>