<div class="section section-purple">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-lg-6 p-lg-r">
          <p class="font-sm text-uppercase text-primary">
            Curso en video:
          </p>
          <h3>
            Aprende a facturar en la plataforma del SAT
          </h3>

          <p class="text-light font-sm">
            Aquí aprenderás de forma práctica cómo facturar y navegar a través del portal del SAT en la versión 4.0
          </p>
          <div class="mt-2 mb-4"></div>
          <div class="d-flex flex-column flex-md-row">
            <a
              class="btn btn-primary mb-3 me-3"
              style="width:100%"
              href={url}
              data-podia-embed="link"
            >
              Comprar curso
            </a>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <img
            src="../img/taller/taller-cover.png"
            class="img-fluid mb-4"
            style="border-radius: 24; width: 100%"
          />
        </div>
      </div>
    </div>
</div>
<div class="section section-green text-center">
    <div class="container">
      <p class="text-uppercase font-sm">¿qué aprenderé aquí?</p>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="mb-5">Cómo navegar en el portal y generar facturas en la nueva versión 4.0.</h2>
        </div>
      </div>
      <div class="boxed-bullet-container row mb-5 justify-content-center">
          <div class="col-lg-6">
            <div class="boxed-bullet mb-3"></div>
          </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="text-center">
        <h3>Dirigido a</h3>
        <p>personas que el SAT les quita el sueño... por ejemplo:</p>
        <div class="row mt-3 mx-auto">
          <div class="col-lg-6">
            <div class="card mb-3">
              <h5>Soy mi propio contador</h5>
              <p class="font-xs mb-3">
                Quienes llevan su propia contabilidad o quieren aprender a
                hacerlo
              </p>
              <img src="../img/cursos/curso-en-video/dirigido-millenials.svg" width="100" class="mx-auto" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3">
              <h5>Freelancers y emprendedores</h5>
              <p class="font-xs mb-3">
                Que tienen que dar factura a sus clientes y quieren saber
                cómo hacerlo y usar esto a su favor.
              </p>
              <img src="../img/cursos/curso-en-video/dirigido-freelancers.svg" width="100" class="mx-auto" />
            </div>
          </div>
        </div>

        <h3 class="mt-5">Requisitos</h3>

        <div class="row justify-content-center">
          <div class="col-lg-3 p-3">
            <div class="card">
              Tener conocimientos básicos del SAT
            </div>
          </div>
          <div class="col-lg-3 p-3">
            <div class="card">Laptop</div>
          </div>
          <div class="col-lg-3 p-3">
            <div class="card">
              E.firma y contraseña para acceder al SAT y/o tu RFC y
              contraseña.
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<%- include('../components/curso-facturar') %>
<%- include('../components/nuestros-clientes-nos-alavan') %>
<%- include('../components/somos-horizontal') %>
<%- include('../components/colabs') %>