<section class="cover unpad--bottom switchable text-center-xs">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-5 mt--3">
                <h1>Pod Teams</h1>
                <p class="lead"> Your simplest one point engagement -<br>for your end-to-end development needs</p>
                <a class="btn btn--primary type--uppercase" href="#customise-template"> <span class="btn__text">
            size your pod</span> </a><br/><br/><br/><br/><br/> </div>
            <div class="col-md-6"> <img alt="Image" src="/img/stock/4882463-ai.svg"> </div>
        </div>
    </div>
</section>
<section class="text-center space--sm bg--dark">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>The right team, always</h2>
                <p class="lead">Our Agile Teams evolve along <i>- Idea - MVP - Growth - Scale -</i> phases,&nbsp;<br>so you always have the right mix at the right time</p>
            </div>
        </div>
    </div>
</section>
<section class="switchable feature-large switchable--switch">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-5">
                <div class="switchable__text">
                    <h2>Power of leveraged teams</h2>
                    <p class="lead">Our expertise, process and culture is what makes our Teams more than few engineers. <br><br>We build a well running execution engine so you can focus on navigating towards your vision.<br><br><br></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="boxed boxed--lg boxed--border">
                    <div class="feature feature-2"> <i class="icon color--primary icon-Affiliate"></i>
                        <div class="feature__body">
                            <h5>Supported by experts, leaders</h5>
                            <p> Our teams are backed by experts and use our support system. Our focus creates synergy.</p>
                        </div>
                    </div>
                    <div class="feature feature-2"> <i class="icon color--primary icon-Hand-Touch"></i>
                        <div class="feature__body">
                            <h5>Leverage decades of experience</h5>
                            <p>Our experience helps navigate through 100s of key decisions about technology, architecture and design.</p>
                        </div>
                    </div>
                    <div class="feature feature-2"> <i class="icon color--primary icon-Handshake"></i>
                        <div class="feature__body">
                            <h5>Spin out beyond scale</h5>
                            <p> We want you to grow and have options beyond us. We plan that in our engagement.&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg--dark space--xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Getting started</h1>
            </div>
        </div>
    </div>
</section>
<section class="switchable">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-center"> <img alt="Image" class="" src="/img/stock/getting-started-teams.svg"> <span> </span> </div>
            <div class="col-md-6 col-lg-5">
                <ol class="process-3">
                    <li class="process_item">
                        <div class="process__number"><span>1</span></div>
                        <div class="process__body">
                            <h4>Determine your team size</h4>
                            <p> During our quick discovery meetings, we determine your needs and recommend a phased scale up of your team as needed</p>
                        </div>
                    </li>
                    <li class="process_item">
                        <div class="process__number"><span>2</span></div>
                        <div class="process__body">
                            <h4>Determine a kickoff date</h4>
                            <p>We understand your goals and milestones and design a kickoff schedule</p>
                        </div>
                    </li>
                    <li class="process_item">
                        <div class="process__number"><span>3</span></div>
                        <div class="process__body">
                            <h4>Start building your product</h4>
                            <p> You focus on your vision and customers and we manage your execution engine</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>