<section class="switchable">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 col-md-7">
                <div class="mt--2">
                    <h1> SaaS &amp; Web App Development</h1>
                    <p class="lead"> You bring your domain expertise. We bring our SaaS experience. Together we create world class products. </p>
                </div>
            </div>
            <div class="col-lg-7 col-md-5 col-12"> <img alt="Image" src="/img/stock/10102.png"> </div>
        </div>
    </div>
</section>
<section class="text-center bg--dark">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>Three Layers of SaaS products<br></h1>
                <p class="lead">We think most SaaS tech stacks can be summarized into just three main layers</p>
            </div>
        </div>
    </div>
</section>
<section class="switchable">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-center"> <img alt="Image" class="border--round box-shadow-wide" src="/img/stock/jordane-mathieu-mLtIBNInDGY-unsplash.jpeg"> <span> </span> </div>
            <div class="col-md-6 col-lg-5">
                <ol class="process-3">
                    <li class="process_item">
                        <div class="process__number"><span>1</span></div>
                        <div class="process__body">
                            <h4>Web / Mobile Clients</h4>
                            <p> From helping you wireframe your ideas, to building robust web and mobile applications, we put together the team, processes, and architecture for you. </p>
                        </div>
                    </li>
                    <li class="process_item">
                        <div class="process__number"><span>2</span></div>
                        <div class="process__body">
                            <h4>Backend API, Database &amp; Architecture</h4>
                            <p> Multi-tenant, scalable, i18n/l10n, RBAC, feature flags, queues, server-less etc., we know the precise recipe to build a SaaS backend that will scale to millions of users. </p>
                        </div>
                    </li>
                    <li class="process_item">
                        <div class="process__number"><span>3</span></div>
                        <div class="process__body">
                            <h4>Your Niche</h4>
                            <p> This is the part that you bring. We have worked in numerous industry verticals and know how to design an architecture that will magnify your niche. </p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="text-center imagebg" data-overlay="4">
    <div class="background-image-holder"> <img alt="background" src="/img/hero-1.jpg"> </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>Our simple steps to help you <br>realize your product vision</h1>
                <p class="lead">...from discovery to continually improving product<br></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="process-1">
                    <div class="process__item">
                        <h4>Discovery</h4>
                        <p>We use the initial meetings to get a high level picture of your product vision. A better understanding of your customers and the problem you are solving, helps us chart a better product engineering roadmap</p>
                    </div>
                    <div class="process__item">
                        <h4>UI/UX Design</h4>
                        <p> These are extended brainstorming, discussion and working sessions where we help design the user journeys, flow designs and low fidelity wireframes to have a clearer picture of the final product. </p>
                    </div>
                    <div class="process__item">
                        <h4>Architecture</h4>
                        <p>This is a parallel activity with UI/UX design to define the component architecture, database schema design, identifying the right technologies and addressing scaling and other non functional requirements</p>
                    </div>
                    <div class="process__item">
                        <h4>Development</h4>
                        <p>A well built product development engine is like magic. We get it rolling and you chart the course.</p>
                    </div>
                    <div class="process__item">
                        <h4>DevOps &amp; Support</h4>
                        <p>We build our teams and processes for the long run anticipating the complexities growth brings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>